In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

sb.set()

In [2]:
df = pd.read_csv('Dataset.csv', index_col=0)
df.head()

,ADI,Age,person_id,Gender,Subgroup,absence_indicator,analytic_period_id,tenure,overtime,salary,...,extreme_heat_ssp585_2045,wildfire_potential_2018,wildfire_potential_2019,wildfire_potential_2019.1,wildfire_potential_ssp245_2025,wildfire_potential_ssp245_2035,wildfire_potential_ssp245_2045,wildfire_potential_ssp585_2025,wildfire_potential_ssp585_2035,wildfire_potential_ssp585_2045
0,28,37,3030515063,Male,Subgroup P,0,1,18.25,1,115700.0,...,13.380953,10.975000,11.460870,12.070652,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
1,18,34,9786383567,Male,Subgroup P,0,1,3.99,7,81435.0,...,13.380953,11.141304,11.520652,11.871739,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
2,15,36,5602306401,Male,Subgroup P,0,1,3.05,1,86400.0,...,15.597403,10.393478,10.777174,11.659783,6.064177,6.380910,6.548825,6.117186,6.522880,6.771772
3,36,41,8107765424,Male,Subgroup P,0,1,20.29,1,79176.0,...,12.290043,11.039130,11.023913,11.963043,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504
4,49,51,7879842771,Male,Subgroup P,0,1,13.66,7,94511.0,...,12.290043,10.760870,11.308696,12.006522,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43184 entries, 0 to 43183
Data columns (total 74 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ADI                                 43184 non-null  int64
 1   Age                                 43184 non-null  int64
 2   person_id                           43184 non-null  int64
 3   Gender                              43184 non-null  object
 4   Subgroup                            43184 non-null  object
 5   absence_indicator                   43184 non-null  int64
 6   analytic_period_id                  43184 non-null  int64
 7   tenure                              43184 non-null  float64
 8   overtime                            43184 non-null  int64
 9   salary                              43184 non-null  float64
 10  performance_rating                  43184 non-null  int64
 11  BiometricScreeningParticipants      43184 non-null  int64
 12  HRQParticipants                     43184 non-null  int64
 13  lsbio_cholesterol                   43184 non-null  int64
 14  lsbio_glucose                       43184 non-null  int64
 15  lsbio_bp                            43184 non-null  int64
 16  lsbio_weight                        43184 non-null  int64
 17  lsbio_trig                          43184 non-null  int64
 18  lshrq_physact                       43184 non-null  int64
 19  lshrq_tobacco                       43184 non-null  int64
 20  lshrq_nutrition                     43184 non-null  int64
 21  lshrq_stress                        43184 non-null  int64
 22  lshrq_genHealth                     43184 non-null  int64
 23  lshrq_wellbeing                     43184 non-null  int64
 24  lshrq_alcohol                       43184 non-null  int64
 25  lshrq_sleeping                      43184 non-null  int64
 26  cc_RespiratorySinusAllergy_chronic  43184 non-null  int64
 27  cc_diabetes                         43184 non-null  int64
 28  cc_cancer                           43184 non-null  int64
 29  cc_mskChronic                       43184 non-null  int64
 30  cc_cholesterol                      43184 non-null  int64
 31  cc_cardiac                          43184 non-null  int64
 32  cc_depression                       43184 non-null  int64
 33  cc_obesity                          43184 non-null  int64
 34  cc_mskAllOther                      43184 non-null  int64
 35  cc_behavioralAllOther               43184 non-null  int64
 36  cc_ckd                              43184 non-null  int64
 37  concurrent_risk                     43184 non-null  float64
 38  rx_nonClaimant                      43184 non-null  int64
 39  rx_nonCompliant                     43184 non-null  int64
 40  prog_1                              43184 non-null  int64
 41  prog_2                              43184 non-null  int64
 42  prog_3                              43184 non-null  int64
 43  prog_4                              43184 non-null  int64
 44  prog_5                              43184 non-null  int64
 45  prog_6                              43184 non-null  int64
 46  prog_7                              43184 non-null  int64
 47  prog_8                              43184 non-null  int64
 48  prog_9                              43184 non-null  int64
 49  prog_10                             43184 non-null  int64
 50  prog_11                             43184 non-null  int64
 51  prog_12                             43184 non-null  int64
 52  prog_13                             43184 non-null  int64
 53  prog_14                             43184 non-null  int64
 54  prog_15                             43184 non-null  int64
 55  prog_16                             43184 non-null  int64
 56  extreme_heat_2018                   43184 non-null  int64
 57  extreme_heat_2019                   43184 non-null  int64
 58  extreme_heat_2020                   43184 non-null  int64
 59  extreme_heat_ssp245_2025            43184 non-null  float64
 60  extreme_heat_ssp245_2035            43184 non-null  float64
 61  extreme_heat_ssp245_2045            43184 non-null  float64
 62  extreme_heat_ssp585_2025            43184 non-null  float64
 63  extreme_heat_ssp585_2035            43184 non-null  float64
 64  extreme_heat_ssp585_2045            43184 non-null  float64
 65  wildfire_potential_2018             43184 non-null  float64
 66  wildfire_potential_2019             43184 non-null  float64
 67  wildfire_potential_2019.1           43184 non-null  float64
 68  wildfire_potential_ssp245_2025      43184 non-null  float64
 69  wildfire_potential_ssp245_2035      43184 non-null  float64
 70  wildfire_potential_ssp245_2045      43184 non-null  float64
 71  wildfire_potential_ssp585_2025      43184 non-null  float64
 72  wildfire_potential_ssp585_2035      43184 non-null  float64
 73  wildfire_potential_ssp585_2045      43184 non-null  float64
dtypes: float64(18), int64(54), object(2)
memory usage: 24.7+ MB

In [4]:
# set gender to 1 and 0

df['Gender'] = np.where(df['Gender'] == 'Male', 1, 0)
df.head()

,ADI,Age,person_id,Gender,Subgroup,absence_indicator,analytic_period_id,tenure,overtime,salary,...,extreme_heat_ssp585_2045,wildfire_potential_2018,wildfire_potential_2019,wildfire_potential_2019.1,wildfire_potential_ssp245_2025,wildfire_potential_ssp245_2035,wildfire_potential_ssp245_2045,wildfire_potential_ssp585_2025,wildfire_potential_ssp585_2035,wildfire_potential_ssp585_2045
0,28,37,3030515063,1,Subgroup P,0,1,18.25,1,115700.0,...,13.380953,10.975000,11.460870,12.070652,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
1,18,34,9786383567,1,Subgroup P,0,1,3.99,7,81435.0,...,13.380953,11.141304,11.520652,11.871739,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
2,15,36,5602306401,1,Subgroup P,0,1,3.05,1,86400.0,...,15.597403,10.393478,10.777174,11.659783,6.064177,6.380910,6.548825,6.117186,6.522880,6.771772
3,36,41,8107765424,1,Subgroup P,0,1,20.29,1,79176.0,...,12.290043,11.039130,11.023913,11.963043,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504
4,49,51,7879842771,1,Subgroup P,0,1,13.66,7,94511.0,...,12.290043,10.760870,11.308696,12.006522,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504

In [5]:
df_P = df.loc[df['Subgroup'] == 'Subgroup P']

In [6]:
health_factors = ['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_glucose', 'lsbio_bp', 'lsbio_weight', 
                  'lsbio_trig', 'lshrq_physact', 'lshrq_tobacco', 'lshrq_nutrition', 'lshrq_stress', 
                  'lshrq_genHealth', 'lshrq_wellbeing', 'lshrq_alcohol', 'lshrq_sleeping', 
                  'cc_RespiratorySinusAllergy_chronic', 'cc_diabetes', 'cc_cancer', 'cc_mskChronic', 
                  'cc_cholesterol', 'cc_cardiac', 'cc_depression', 'cc_obesity', 'cc_mskAllOther', 
                  'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                  'extreme_heat_ssp245_2025']

In [7]:
all_factors = ['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_glucose', 'lsbio_bp', 'lsbio_weight', 
              'lsbio_trig', 'lshrq_physact', 'lshrq_tobacco', 'lshrq_nutrition', 'lshrq_stress', 
              'lshrq_genHealth', 'lshrq_wellbeing', 'lshrq_alcohol', 'lshrq_sleeping', 
              'cc_RespiratorySinusAllergy_chronic', 'cc_diabetes', 'cc_cancer', 'cc_mskChronic', 
              'cc_cholesterol', 'cc_cardiac', 'cc_depression', 'cc_obesity', 'cc_mskAllOther', 
              'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant']

In [8]:
health_variables = ['ADI', 'Age', 'Gender', 'lsbio_bp', 'lshrq_sleeping', 
                         'cc_RespiratorySinusAllergy_chronic', 'cc_mskChronic', 'cc_cholesterol', 
                         'cc_cardiac', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                         'extreme_heat']

In [9]:
categorical_variables = ['ADI', 'Age', 'Gender', 'lsbio_bp', 'lshrq_sleeping', 
                         'cc_RespiratorySinusAllergy_chronic', 'cc_mskChronic', 'cc_cholesterol', 
                         'cc_cardiac', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant']

In [10]:
def last_value(x):
    if x is None:
        print("Error: x is None")
        return None
    elif len(x) == 0:
        print("Error: x is empty")
        return None
    else:
        return x.iloc[-1]

new_df = df_P.groupby('person_id').agg({
    'absence_indicator': 'sum',
    'extreme_heat_2018': 'mean',
    'extreme_heat_2019': 'mean',
    'extreme_heat_2020': 'mean',
    **{health: last_value for health in health_factors}
}).reset_index()

new_df.head()

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_cardiac,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,0,0,0,0,0,0,0.51,1,0,16.212120
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,0,0,0,0,0,0,0.15,1,0,6.160173
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,0,0,0,0,0,0,1.14,1,0,12.333333
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,0,0,0,0,0,0,0.15,1,0,7.549784
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,0,0,0,0,0,0,0.38,1,0,7.134199

In [11]:
new_df['extreme_heat'] = round((new_df['extreme_heat_2018']+new_df['extreme_heat_2019']+new_df['extreme_heat_2020'])/3,0)

new_df.head()

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,0,0,0,0,0,0.51,1,0,16.212120,1.0
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,0,0,0,0,0,0.15,1,0,6.160173,4.0
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,0,0,0,0,0,1.14,1,0,12.333333,2.0
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,0,0,0,0,0,0.15,1,0,7.549784,3.0
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,0,0,0,0,0,0.38,1,0,7.134199,3.0

In [12]:
new_df['absence_indicator'].value_counts()

absence_indicator
0      4882
1       381
6       121
11      110
21       73
       ...
212       1
241       1
263       1
243       1
235       1
Name: count, Length: 217, dtype: int64

### absence vs health

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['absence_indicator'])
y.loc[y['absence_indicator'] != 0, 'absence_indicator'] = np.log(y.loc[y['absence_indicator'] != 0, 'absence_indicator'])

x = pd.DataFrame(new_df[all_factors])

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

Train Set : (5631, 1) (5631, 30)
Test Set  : (1878, 1) (1878, 30)

In [14]:
linreg = LinearRegression()

linreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', linreg.intercept_)

y_train_pred = linreg.predict(x_train)
y_test_pred = linreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", linreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", linreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Intercept of Regression 	: b =  [1.15201047]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.17720910725681094
Mean Squared Error (MSE) 	: 2.289493064102705

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.18338663634537378
Mean Squared Error (MSE) 	: 2.2919408936345342

In [15]:
import statsmodels.api as sm

x_train_with_constant = sm.add_constant(x_train)
model = sm.OLS(y_train, x_train_with_constant)
result = model.fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      absence_indicator   R-squared:                       0.177
Model:                            OLS   Adj. R-squared:                  0.173
Method:                 Least Squares   F-statistic:                     40.20
Date:                Wed, 03 Apr 2024   Prob (F-statistic):          4.32e-211
Time:                        17:34:15   Log-Likelihood:                -10322.
No. Observations:                5631   AIC:                         2.071e+04
Df Residuals:                    5600   BIC:                         2.091e+04
Df Model:                          30
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
const                                  1.1520      0.140      8.230      0.000       0.878       1.426
ADI                                    0.0069      0.001      4.741      0.000       0.004       0.010
Age                                   -0.0176      0.002     -8.528      0.000      -0.022      -0.014
Gender                                -0.3667      0.058     -6.361      0.000      -0.480      -0.254
lsbio_cholesterol                     -0.1421      0.074     -1.924      0.054      -0.287       0.003
lsbio_glucose                         -0.0042      0.243     -0.017      0.986      -0.481       0.473
lsbio_bp                               0.0033      0.076      0.044      0.965      -0.145       0.152
lsbio_weight                           0.0410      0.076      0.538      0.591      -0.109       0.191
lsbio_trig                            -0.0398      0.087     -0.455      0.649      -0.211       0.132
lshrq_physact                         -0.1132      0.060     -1.901      0.057      -0.230       0.004
lshrq_tobacco                         -0.0079      0.120     -0.066      0.948      -0.243       0.227
lshrq_nutrition                        0.1325      0.059      2.232      0.026       0.016       0.249
lshrq_stress                          -0.0222      0.077     -0.290      0.772      -0.172       0.128
lshrq_genHealth                       -0.2647      0.156     -1.699      0.089      -0.570       0.041
lshrq_wellbeing                       -0.1776      0.101     -1.762      0.078      -0.375       0.020
lshrq_alcohol                         -0.0711      0.072     -0.987      0.324      -0.213       0.070
lshrq_sleeping                         0.1319      0.097      1.356      0.175      -0.059       0.323
cc_RespiratorySinusAllergy_chronic     0.1612      0.079      2.032      0.042       0.006       0.317
cc_diabetes                            0.0878      0.095      0.920      0.357      -0.099       0.275
cc_cancer                              0.2831      0.103      2.745      0.006       0.081       0.485
cc_mskChronic                          0.6511      0.050     13.111      0.000       0.554       0.748
cc_cholesterol                        -0.0171      0.070     -0.245      0.806      -0.154       0.120
cc_cardiac                             0.1336      0.069      1.947      0.052      -0.001       0.268
cc_depression                          0.7540      0.079      9.543      0.000       0.599       0.909
cc_obesity                             0.1735      0.048      3.604      0.000       0.079       0.268
cc_mskAllOther                         0.3173      0.066      4.823      0.000       0.188       0.446
cc_behavioralAllOther                  0.3724      0.060      6.221      0.000       0.255       0.490
cc_ckd                                -0.2708      0.232     -1.166      0.244      -0.726       0.184
concurrent_risk                        0.2495      0.015     16.665      0.000       0.220       0.279
rx_nonClaimant                         0.1412      0.070      2.029      0.042       0.005       0.278
rx_nonCompliant                        0.2076      0.084      2.465      0.014       0.043       0.373
==============================================================================
Omnibus:                      702.013   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              991.559
Skew:                           1.017   Prob(JB):                    4.85e-216
Kurtosis:                       3.304   Cond. No.                         691.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Random Forest Regression

In [16]:
from sklearn.ensemble import RandomForestRegressor

randomforest = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)
randomforest.fit(x_train, y_train)

y_train_pred = randomforest.predict(x_train)
train_mse = mean_squared_error(y_train_pred, y_train)
y_test_pred = randomforest.predict(x_test)
test_mse = mean_squared_error(y_test_pred, y_test)

print("Mean Squared Error (Train Dataset):", train_mse)
print("Mean Squared Error (Test Dataset):", test_mse)

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Mean Squared Error (Train Dataset): 2.1777509532493866
Mean Squared Error (Test Dataset): 2.3139591682539913

In [17]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param_dist = {
    'n_estimators': randint(50, 200),
    'max_depth': [None] + list(range(5, 20)),
    'min_samples_split': randint(2, 20)
}

randomized_search = RandomizedSearchCV(estimator=RandomForestRegressor(), param_distributions=param_dist, n_iter=5, cv=5, scoring='neg_mean_squared_error', random_state=42)

randomized_search.fit(x_train, y_train)

best_params = randomized_search.best_params_
print(best_params)

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

{'max_depth': 6, 'min_samples_split': 12, 'n_estimators': 137}

In [18]:
randomforest = RandomForestRegressor(n_estimators=best_params['n_estimators'], max_depth=best_params['max_depth'], min_samples_split=best_params['min_samples_split'], random_state=42)
randomforest.fit(x_train, y_train)

y_train_pred = randomforest.predict(x_train)
train_mse = mean_squared_error(y_train_pred, y_train)
y_test_pred = randomforest.predict(x_test)
test_mse = mean_squared_error(y_test_pred, y_test)

print("Mean Squared Error (Train Dataset):", train_mse)
print("Mean Squared Error (Test Dataset):", test_mse)

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Mean Squared Error (Train Dataset): 2.071369119489679
Mean Squared Error (Test Dataset): 2.3015267752531305

In [19]:
significant_variable_rf = {}
significant_variable_rf['significant_variable'] = []

feature_importances = randomforest.feature_importances_
feature_importance_dict = dict(zip(x_train.columns, feature_importances))
sorted_features = sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True)

for feature, importance in sorted_features:
    if importance > 0.0035:
        significant_variable_rf['significant_variable'].append(feature)

significant_variable_rf

{'significant_variable': ['concurrent_risk',
  'Age',
  'cc_mskChronic',
  'ADI',
  'cc_depression',
  'Gender',
  'cc_behavioralAllOther',
  'cc_mskAllOther',
  'rx_nonCompliant',
  'cc_RespiratorySinusAllergy_chronic',
  'lshrq_physact',
  'cc_obesity',
  'cc_cardiac',
  'cc_cholesterol',
  'lshrq_tobacco',
  'rx_nonClaimant',
  'cc_ckd',
  'cc_diabetes',
  'cc_cancer',
  'lshrq_nutrition',
  'lshrq_wellbeing',
  'lshrq_alcohol',
  'lshrq_stress']}

### cc_mskChronic

In [20]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7509 entries, 0 to 7508
Data columns (total 37 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   person_id                           7509 non-null   int64
 1   absence_indicator                   7509 non-null   int64
 2   extreme_heat_2018                   7509 non-null   float64
 3   extreme_heat_2019                   7509 non-null   float64
 4   extreme_heat_2020                   7509 non-null   float64
 5   ADI                                 7509 non-null   int64
 6   Age                                 7509 non-null   int64
 7   Gender                              7509 non-null   int64
 8   lsbio_cholesterol                   7509 non-null   int64
 9   lsbio_glucose                       7509 non-null   int64
 10  lsbio_bp                            7509 non-null   int64
 11  lsbio_weight                        7509 non-null   int64
 12  lsbio_trig                          7509 non-null   int64
 13  lshrq_physact                       7509 non-null   int64
 14  lshrq_tobacco                       7509 non-null   int64
 15  lshrq_nutrition                     7509 non-null   int64
 16  lshrq_stress                        7509 non-null   int64
 17  lshrq_genHealth                     7509 non-null   int64
 18  lshrq_wellbeing                     7509 non-null   int64
 19  lshrq_alcohol                       7509 non-null   int64
 20  lshrq_sleeping                      7509 non-null   int64
 21  cc_RespiratorySinusAllergy_chronic  7509 non-null   int64
 22  cc_diabetes                         7509 non-null   int64
 23  cc_cancer                           7509 non-null   int64
 24  cc_mskChronic                       7509 non-null   int64
 25  cc_cholesterol                      7509 non-null   int64
 26  cc_cardiac                          7509 non-null   int64
 27  cc_depression                       7509 non-null   int64
 28  cc_obesity                          7509 non-null   int64
 29  cc_mskAllOther                      7509 non-null   int64
 30  cc_behavioralAllOther               7509 non-null   int64
 31  cc_ckd                              7509 non-null   int64
 32  concurrent_risk                     7509 non-null   float64
 33  rx_nonClaimant                      7509 non-null   int64
 34  rx_nonCompliant                     7509 non-null   int64
 35  extreme_heat_ssp245_2025            7509 non-null   float64
 36  extreme_heat                        7509 non-null   float64
dtypes: float64(6), int64(31)
memory usage: 2.1 MB

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_mskChronic'])
y['cc_mskChronic'] = y['cc_mskChronic'].astype('category')
x = pd.DataFrame(new_df[['Age', 'Gender', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 
                        'rx_nonClaimant', 'extreme_heat']])

categorical_factors = ['Gender', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 
                        'rx_nonClaimant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

logreg = LogisticRegression()

logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', linreg.intercept_)

y_train_pred = logreg.predict(x_train)
y_test_pred = logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (5631, 1) (5631, 7)
Test Set  : (1878, 1) (1878, 7)
Intercept of Regression 	: b =  [1.15201047]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.7432072456046883
Mean Squared Error (MSE) 	: 0.2567927543953117

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.7369542066027689
Mean Squared Error (MSE) 	: 0.2630457933972311

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [22]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.534902
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:          cc_mskChronic   No. Observations:                 5631
Model:                          Logit   Df Residuals:                     5623
Method:                           MLE   Df Model:                            7
Date:                Wed, 03 Apr 2024   Pseudo R-squ.:                 0.07311
Time:                        17:34:52   Log-Likelihood:                -3012.0
converged:                       True   LL-Null:                       -3249.6
Covariance Type:            nonrobust   LLR p-value:                 1.749e-98
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -1.3127      0.194     -6.764      0.000      -1.693      -0.932
Age                       0.0099      0.003      3.181      0.001       0.004       0.016
Gender                   -0.0964      0.086     -1.116      0.265      -0.266       0.073
cc_behavioralAllOther     0.4232      0.087      4.879      0.000       0.253       0.593
cc_ckd                   -1.0071      0.389     -2.591      0.010      -1.769      -0.245
concurrent_risk           0.2505      0.021     11.862      0.000       0.209       0.292
rx_nonClaimant           -0.6789      0.070     -9.695      0.000      -0.816      -0.542
extreme_heat           2.311e-05      0.024      0.001      0.999      -0.048       0.048
=========================================================================================

In [23]:
new_df_0 = new_df.loc[new_df['cc_mskChronic'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['Age', 'Gender', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 
                        'rx_nonClaimant', 'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_2758/3669588825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,Age,Gender,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,30,1,0,0,0.51,1,16.212120
1,40,1,0,0,0.15,1,6.160173
2,61,1,0,0,1.14,1,12.333333
3,40,1,0,0,0.15,1,7.549784
4,35,1,0,0,0.38,1,7.134199
...,...,...,...,...,...,...,...
7504,39,1,0,0,0.15,1,2.623377
7505,58,1,0,0,0.33,0,6.393940
7506,51,1,0,0,0.35,1,7.424243
7507,40,1,0,0,0.46,1,6.160173
7508,32,1,0,0,0.10,1,10.415585

In [24]:
y_pred = logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [25]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    5293
1     225
Name: count, dtype: int64

In [26]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7504  9995667595          0
7505  9998210676          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[5518 rows x 2 columns]

In [27]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_mskChronic'].value_counts())

new_df['cc_mskChronic'] = np.where(new_df['cc_mskChronic']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_mskChronic'].value_counts())

cc_mskChronic
0    5518
1    1991
Name: count, dtype: int64
cc_mskChronic
0.0    5293
1.0    2216
Name: count, dtype: int64

In [28]:
new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,0,0,0,0,0,0.51,1,0,16.212120,1.0
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,0,0,0,0,0,0.15,1,0,6.160173,4.0
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,0,0,0,0,0,1.14,1,0,12.333333,2.0
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,0,0,0,0,0,0.15,1,0,7.549784,3.0
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,0,0,0,0,0,0.38,1,0,7.134199,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,9995667595,0,0.000000,1.000000,0.000000,18,39,1,1,0,...,0,1,0,0,0,0.15,1,0,2.623377,0.0
7505,9998210676,131,2.000000,2.000000,0.000000,34,58,1,0,0,...,0,1,1,0,0,0.33,0,0,6.393940,1.0
7506,9998342544,0,0.000000,0.000000,0.000000,14,51,1,0,0,...,0,0,0,0,0,0.35,1,0,7.424243,0.0
7507,9998937334,0,4.000000,3.000000,1.000000,10,40,1,1,0,...,0,0,0,0,0,0.46,1,0,6.160173,3.0
7508,9999617900,37,5.000000,4.000000,2.000000,39,32,1,0,0,...,0,0,0,0,0,0.10,1,0,10.415585,4.0

### cc_cardiac

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_cardiac'])
y['cc_cardiac'] = y['cc_cardiac'].astype('category')
x = pd.DataFrame(new_df[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_weight', 
                         'cc_cancer', 'cc_cholesterol', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 
                         'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

categorical_factors = ['Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_weight', 'cc_cancer', 
                       'cc_cholesterol', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 'cc_ckd', 
                       'concurrent_risk', 'rx_nonClaimant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

logreg = LogisticRegression()

logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', linreg.intercept_)

y_train_pred = logreg.predict(x_train)
y_test_pred = logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (5631, 1) (5631, 15)
Test Set  : (1878, 1) (1878, 15)

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Intercept of Regression 	: b =  [1.15201047]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.8890072811223584
Mean Squared Error (MSE) 	: 0.11099271887764163

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.8817891373801917
Mean Squared Error (MSE) 	: 0.1182108626198083

In [30]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.281634
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:             cc_cardiac   No. Observations:                 5631
Model:                          Logit   Df Residuals:                     5615
Method:                           MLE   Df Model:                           15
Date:                Wed, 03 Apr 2024   Pseudo R-squ.:                  0.4399
Time:                        17:34:52   Log-Likelihood:                -1585.9
converged:                       True   LL-Null:                       -2831.3
Covariance Type:            nonrobust   LLR p-value:                     0.000
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -4.1195      0.321    -12.816      0.000      -4.750      -3.490
ADI                       0.0074      0.003      2.270      0.023       0.001       0.014
Age                       0.0653      0.005     12.712      0.000       0.055       0.075
Gender                    0.2116      0.130      1.628      0.104      -0.043       0.466
lsbio_cholesterol        -0.3419      0.165     -2.072      0.038      -0.665      -0.018
lsbio_bp                  0.3133      0.190      1.651      0.099      -0.059       0.685
lsbio_weight             -0.4770      0.193     -2.471      0.013      -0.855      -0.099
cc_cancer                -0.4805      0.204     -2.359      0.018      -0.880      -0.081
cc_cholesterol            0.3936      0.113      3.486      0.000       0.172       0.615
cc_obesity                0.6646      0.102      6.525      0.000       0.465       0.864
cc_mskAllOther           -0.1505      0.130     -1.160      0.246      -0.405       0.104
cc_behavioralAllOther     0.6089      0.123      4.950      0.000       0.368       0.850
cc_ckd                    0.9637      0.468      2.059      0.040       0.046       1.881
concurrent_risk           0.1817      0.026      6.865      0.000       0.130       0.234
rx_nonClaimant           -3.0329      0.105    -28.907      0.000      -3.239      -2.827
extreme_heat              0.0524      0.036      1.471      0.141      -0.017       0.122
=========================================================================================

In [31]:
new_df_0 = new_df.loc[new_df['cc_cardiac'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_weight', 
                         'cc_cancer', 'cc_cholesterol', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 
                         'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_2758/3048584345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,ADI,Age,Gender,lsbio_cholesterol,lsbio_bp,lsbio_weight,cc_cancer,cc_cholesterol,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,57,30,1,0,0,0,0,0,0,0,0,0,0.51,1,16.212120
1,21,40,1,0,0,0,0,0,0,0,0,0,0.15,1,6.160173
2,59,61,1,0,0,0,0,1,0,0,0,0,1.14,1,12.333333
3,28,40,1,1,1,1,0,0,0,0,0,0,0.15,1,7.549784
4,22,35,1,0,1,0,0,0,0,0,0,0,0.38,1,7.134199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7503,39,44,1,0,1,1,0,0,0,1,0,0,0.15,1,8.034632
7504,18,39,1,1,1,1,0,0,1,0,0,0,0.15,1,2.623377
7506,14,51,1,0,0,0,0,0,0,0,0,0,0.35,1,7.424243
7507,10,40,1,1,1,0,0,0,0,0,0,0,0.46,1,6.160173
7508,39,32,1,0,1,1,0,0,0,0,0,0,0.10,1,10.415585

In [32]:
y_pred = logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [33]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    5438
1     527
Name: count, dtype: int64

In [34]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7503  9995527821          0
7504  9995667595          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[5965 rows x 2 columns]

In [35]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

new_df['cc_cardiac'] = np.where(new_df['cc_cardiac']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

cc_cardiac
0    5965
1    1544
Name: count, dtype: int64
cc_cardiac
0.0    5438
1.0    2071
Name: count, dtype: int64

### cc_diabetes

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_diabetes'])
y['cc_diabetes'] = y['cc_diabetes'].astype('category')
x = pd.DataFrame(new_df[['ADI', 'Age', 'lsbio_glucose', 'lsbio_trig', 'lshrq_genHealth', 'cc_cholesterol', 
                         'cc_obesity', 'cc_mskAllOther', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                         'extreme_heat']])

categorical_factors = ['lsbio_glucose', 'lsbio_trig', 'lshrq_genHealth', 'cc_cholesterol', 
                       'cc_obesity', 'cc_mskAllOther', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

logreg = LogisticRegression()

logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', linreg.intercept_)

y_train_pred = logreg.predict(x_train)
y_test_pred = logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (5631, 1) (5631, 12)
Test Set  : (1878, 1) (1878, 12)
Intercept of Regression 	: b =  [1.15201047]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.9325164269223939
Mean Squared Error (MSE) 	: 0.06748357307760611

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.9419595314164004
Mean Squared Error (MSE) 	: 0.058040468583599576

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [37]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.157489
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:            cc_diabetes   No. Observations:                 5631
Model:                          Logit   Df Residuals:                     5618
Method:                           MLE   Df Model:                           12
Date:                Wed, 03 Apr 2024   Pseudo R-squ.:                  0.3674
Time:                        17:34:53   Log-Likelihood:                -886.82
converged:                       True   LL-Null:                       -1401.8
Covariance Type:            nonrobust   LLR p-value:                6.844e-213
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -5.0330      0.462    -10.905      0.000      -5.938      -4.128
ADI                 0.0065      0.004      1.457      0.145      -0.002       0.015
Age                 0.0441      0.008      5.820      0.000       0.029       0.059
lsbio_glucose       2.2179      0.469      4.728      0.000       1.299       3.137
lsbio_trig          0.2126      0.206      1.031      0.303      -0.192       0.617
lshrq_genHealth    -0.1638      0.366     -0.447      0.655      -0.881       0.554
cc_cholesterol      0.5900      0.130      4.540      0.000       0.335       0.845
cc_obesity          0.2123      0.128      1.658      0.097      -0.039       0.463
cc_mskAllOther     -0.4171      0.184     -2.266      0.023      -0.778      -0.056
concurrent_risk     0.0999      0.027      3.692      0.000       0.047       0.153
rx_nonClaimant     -2.7105      0.231    -11.709      0.000      -3.164      -2.257
rx_nonCompliant     1.1721      0.133      8.836      0.000       0.912       1.432
extreme_heat        0.0636      0.048      1.337      0.181      -0.030       0.157
===================================================================================

In [38]:
new_df_0 = new_df.loc[new_df['cc_diabetes'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'lsbio_glucose', 'lsbio_trig', 'lshrq_genHealth', 'cc_cholesterol', 
                         'cc_obesity', 'cc_mskAllOther', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                         'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_2758/3888071529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,ADI,Age,lsbio_glucose,lsbio_trig,lshrq_genHealth,cc_cholesterol,cc_obesity,cc_mskAllOther,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat
0,57,30,0,0,0,0,0,0,0.51,1,0,16.212120
1,21,40,0,0,0,0,0,0,0.15,1,0,6.160173
2,59,61,0,0,0,1,0,0,1.14,1,0,12.333333
3,28,40,0,1,0,0,0,0,0.15,1,0,7.549784
4,22,35,0,0,0,0,0,0,0.38,1,0,7.134199
...,...,...,...,...,...,...,...,...,...,...,...,...
7504,18,39,0,1,0,0,1,0,0.15,1,0,2.623377
7505,34,58,0,0,0,0,1,1,0.33,0,0,6.393940
7506,14,51,0,0,0,0,0,0,0.35,1,0,7.424243
7507,10,40,0,0,0,0,0,0,0.46,1,0,6.160173
7508,39,32,0,0,0,0,0,0,0.10,1,0,10.415585

In [39]:
y_pred = logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [40]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    6834
1     177
Name: count, dtype: int64

In [41]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7504  9995667595          0
7505  9998210676          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[7011 rows x 2 columns]

In [42]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_diabetes'].value_counts())

new_df['cc_diabetes'] = np.where(new_df['cc_diabetes']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_diabetes'].value_counts())

cc_diabetes
0    7011
1     498
Name: count, dtype: int64
cc_diabetes
0.0    6834
1.0     675
Name: count, dtype: int64

### absence_indicator prediction

In [61]:
new_df_2 = new_df[all_factors]

new_df_2

,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,lsbio_bp,lsbio_weight,lsbio_trig,lshrq_physact,lshrq_tobacco,...,cc_cholesterol,cc_cardiac,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant
0,57,30,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.51,1,0
1,21,40,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.15,1,0
2,59,61,1,0,0,0,0,0,0,0,...,1,0.0,0,0,0,0,0,1.14,1,0
3,28,40,1,1,0,1,1,1,0,0,...,0,0.0,0,0,0,0,0,0.15,1,0
4,22,35,1,0,0,1,0,0,1,0,...,0,0.0,0,0,0,0,0,0.38,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,18,39,1,1,0,1,1,1,0,0,...,0,0.0,0,1,0,0,0,0.15,1,0
7505,34,58,1,0,0,0,0,0,0,0,...,0,1.0,0,1,1,0,0,0.33,0,0
7506,14,51,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.35,1,0
7507,10,40,1,1,0,1,0,0,1,0,...,0,0.0,0,0,0,0,0,0.46,1,0
7508,39,32,1,0,0,1,1,0,1,0,...,0,0.0,0,0,0,0,0,0.10,1,0

In [62]:
absence_pred = linreg.predict(new_df_2)

absence_pred

array([[0.91898878],
       [0.40442069],
       [0.52689639],
       ...,
       [0.21223756],
       [0.19308165],
       [0.75947991]])

In [63]:
absence_pred_2 = randomforest.predict(new_df_2)

absence_pred_2

array([0.74109851, 0.58449103, 0.49570403, ..., 0.41678083, 0.71257618,
       0.59344526])

In [65]:
absence_pred = pd.DataFrame(absence_pred, columns = ["absence_prediction_lr"], index = new_df_2.index)
absence_pred['absence_prediction_lr'] = round(absence_pred['absence_prediction_lr'],0)
new_df_2 = pd.concat([new_df_2, absence_pred], axis = 1)
new_df_2['absence_prediction_lr'] = np.where(new_df_2['absence_prediction_lr']!=0,round(np.exp(new_df_2['absence_prediction_lr']),0),0)

new_df_2['absence_prediction_lr'].value_counts()

absence_prediction_lr
3.0      4103
0.0      1852
7.0      1157
20.0      296
55.0       87
148.0      14
Name: count, dtype: int64

In [67]:
absence_pred_2 = pd.DataFrame(absence_pred_2, columns = ["absence_prediction_rf"], index = new_df_2.index)
absence_pred_2['absence_prediction_rf'] = round(absence_pred_2['absence_prediction_rf'],0)
new_df_2 = pd.concat([new_df_2, absence_pred_2], axis = 1)
new_df_2['absence_prediction_rf'] = np.where(new_df_2['absence_prediction_rf']!=0,round(np.exp(new_df_2['absence_prediction_rf']),0),0)

new_df_2['absence_prediction_rf'].value_counts()

absence_prediction_rf
3.0     4637
0.0     1533
7.0      857
20.0     437
55.0      45
Name: count, dtype: int64

In [70]:
new_df['absence_indicator'].value_counts()

absence_indicator
0      4882
1       381
6       121
11      110
21       73
       ...
212       1
241       1
263       1
243       1
235       1
Name: count, Length: 217, dtype: int64