In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

sb.set()

In [2]:
df = pd.read_csv('Dataset.csv', index_col=0)
df.head()

,ADI,Age,person_id,Gender,Subgroup,absence_indicator,analytic_period_id,tenure,overtime,salary,...,extreme_heat_ssp585_2045,wildfire_potential_2018,wildfire_potential_2019,wildfire_potential_2019.1,wildfire_potential_ssp245_2025,wildfire_potential_ssp245_2035,wildfire_potential_ssp245_2045,wildfire_potential_ssp585_2025,wildfire_potential_ssp585_2035,wildfire_potential_ssp585_2045
0,28,37,3030515063,Male,Subgroup P,0,1,18.25,1,115700.0,...,13.380953,10.975000,11.460870,12.070652,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
1,18,34,9786383567,Male,Subgroup P,0,1,3.99,7,81435.0,...,13.380953,11.141304,11.520652,11.871739,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
2,15,36,5602306401,Male,Subgroup P,0,1,3.05,1,86400.0,...,15.597403,10.393478,10.777174,11.659783,6.064177,6.380910,6.548825,6.117186,6.522880,6.771772
3,36,41,8107765424,Male,Subgroup P,0,1,20.29,1,79176.0,...,12.290043,11.039130,11.023913,11.963043,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504
4,49,51,7879842771,Male,Subgroup P,0,1,13.66,7,94511.0,...,12.290043,10.760870,11.308696,12.006522,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43184 entries, 0 to 43183
Data columns (total 74 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ADI                                 43184 non-null  int64
 1   Age                                 43184 non-null  int64
 2   person_id                           43184 non-null  int64
 3   Gender                              43184 non-null  object
 4   Subgroup                            43184 non-null  object
 5   absence_indicator                   43184 non-null  int64
 6   analytic_period_id                  43184 non-null  int64
 7   tenure                              43184 non-null  float64
 8   overtime                            43184 non-null  int64
 9   salary                              43184 non-null  float64
 10  performance_rating                  43184 non-null  int64
 11  BiometricScreeningParticipants      43184 non-null  int64
 12  HRQParticipants                     43184 non-null  int64
 13  lsbio_cholesterol                   43184 non-null  int64
 14  lsbio_glucose                       43184 non-null  int64
 15  lsbio_bp                            43184 non-null  int64
 16  lsbio_weight                        43184 non-null  int64
 17  lsbio_trig                          43184 non-null  int64
 18  lshrq_physact                       43184 non-null  int64
 19  lshrq_tobacco                       43184 non-null  int64
 20  lshrq_nutrition                     43184 non-null  int64
 21  lshrq_stress                        43184 non-null  int64
 22  lshrq_genHealth                     43184 non-null  int64
 23  lshrq_wellbeing                     43184 non-null  int64
 24  lshrq_alcohol                       43184 non-null  int64
 25  lshrq_sleeping                      43184 non-null  int64
 26  cc_RespiratorySinusAllergy_chronic  43184 non-null  int64
 27  cc_diabetes                         43184 non-null  int64
 28  cc_cancer                           43184 non-null  int64
 29  cc_mskChronic                       43184 non-null  int64
 30  cc_cholesterol                      43184 non-null  int64
 31  cc_cardiac                          43184 non-null  int64
 32  cc_depression                       43184 non-null  int64
 33  cc_obesity                          43184 non-null  int64
 34  cc_mskAllOther                      43184 non-null  int64
 35  cc_behavioralAllOther               43184 non-null  int64
 36  cc_ckd                              43184 non-null  int64
 37  concurrent_risk                     43184 non-null  float64
 38  rx_nonClaimant                      43184 non-null  int64
 39  rx_nonCompliant                     43184 non-null  int64
 40  prog_1                              43184 non-null  int64
 41  prog_2                              43184 non-null  int64
 42  prog_3                              43184 non-null  int64
 43  prog_4                              43184 non-null  int64
 44  prog_5                              43184 non-null  int64
 45  prog_6                              43184 non-null  int64
 46  prog_7                              43184 non-null  int64
 47  prog_8                              43184 non-null  int64
 48  prog_9                              43184 non-null  int64
 49  prog_10                             43184 non-null  int64
 50  prog_11                             43184 non-null  int64
 51  prog_12                             43184 non-null  int64
 52  prog_13                             43184 non-null  int64
 53  prog_14                             43184 non-null  int64
 54  prog_15                             43184 non-null  int64
 55  prog_16                             43184 non-null  int64
 56  extreme_heat_2018                   43184 non-null  int64
 57  extreme_heat_2019                   43184 non-null  int64
 58  extreme_heat_2020                   43184 non-null  int64
 59  extreme_heat_ssp245_2025            43184 non-null  float64
 60  extreme_heat_ssp245_2035            43184 non-null  float64
 61  extreme_heat_ssp245_2045            43184 non-null  float64
 62  extreme_heat_ssp585_2025            43184 non-null  float64
 63  extreme_heat_ssp585_2035            43184 non-null  float64
 64  extreme_heat_ssp585_2045            43184 non-null  float64
 65  wildfire_potential_2018             43184 non-null  float64
 66  wildfire_potential_2019             43184 non-null  float64
 67  wildfire_potential_2019.1           43184 non-null  float64
 68  wildfire_potential_ssp245_2025      43184 non-null  float64
 69  wildfire_potential_ssp245_2035      43184 non-null  float64
 70  wildfire_potential_ssp245_2045      43184 non-null  float64
 71  wildfire_potential_ssp585_2025      43184 non-null  float64
 72  wildfire_potential_ssp585_2035      43184 non-null  float64
 73  wildfire_potential_ssp585_2045      43184 non-null  float64
dtypes: float64(18), int64(54), object(2)
memory usage: 24.7+ MB

In [4]:
# set gender to 1 and 0

df['Gender'] = np.where(df['Gender'] == 'Male', 1, 0)
df.head()

,ADI,Age,person_id,Gender,Subgroup,absence_indicator,analytic_period_id,tenure,overtime,salary,...,extreme_heat_ssp585_2045,wildfire_potential_2018,wildfire_potential_2019,wildfire_potential_2019.1,wildfire_potential_ssp245_2025,wildfire_potential_ssp245_2035,wildfire_potential_ssp245_2045,wildfire_potential_ssp585_2025,wildfire_potential_ssp585_2035,wildfire_potential_ssp585_2045
0,28,37,3030515063,1,Subgroup P,0,1,18.25,1,115700.0,...,13.380953,10.975000,11.460870,12.070652,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
1,18,34,9786383567,1,Subgroup P,0,1,3.99,7,81435.0,...,13.380953,11.141304,11.520652,11.871739,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
2,15,36,5602306401,1,Subgroup P,0,1,3.05,1,86400.0,...,15.597403,10.393478,10.777174,11.659783,6.064177,6.380910,6.548825,6.117186,6.522880,6.771772
3,36,41,8107765424,1,Subgroup P,0,1,20.29,1,79176.0,...,12.290043,11.039130,11.023913,11.963043,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504
4,49,51,7879842771,1,Subgroup P,0,1,13.66,7,94511.0,...,12.290043,10.760870,11.308696,12.006522,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504

In [5]:
df_C = df.loc[df['Subgroup'] == 'Subgroup C']

df_C

,ADI,Age,person_id,Gender,Subgroup,absence_indicator,analytic_period_id,tenure,overtime,salary,...,extreme_heat_ssp585_2045,wildfire_potential_2018,wildfire_potential_2019,wildfire_potential_2019.1,wildfire_potential_ssp245_2025,wildfire_potential_ssp245_2035,wildfire_potential_ssp245_2045,wildfire_potential_ssp585_2025,wildfire_potential_ssp585_2035,wildfire_potential_ssp585_2045
7249,11,37,8546337240,1,Subgroup C,88,1,17.621833,1,87639.00,...,22.606060,20.069565,19.326087,22.286957,12.084754,12.515748,12.869328,12.338427,12.880823,13.652612
7250,59,30,4414458229,0,Subgroup C,0,1,10.990623,1,64418.00,...,30.393940,8.805435,8.142391,8.914130,5.748487,5.972501,6.138339,5.835410,6.371663,6.963992
7251,61,28,9953807739,1,Subgroup C,0,1,9.534056,1,32779.00,...,63.987010,13.167391,10.141304,11.293478,9.254983,9.716663,9.908102,9.034873,9.514288,10.380012
7252,69,45,3512709535,0,Subgroup C,0,1,9.419064,1,64418.00,...,30.952381,9.072826,8.681522,9.335870,5.895154,6.130974,6.297318,5.976431,6.537423,7.158043
7253,34,52,3553003505,1,Subgroup C,0,1,10.254126,1,24414.33,...,14.709957,9.011957,8.191304,9.889130,6.199946,6.496116,6.723905,5.991765,6.531004,7.068315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43179,28,38,4607985867,1,Subgroup C,0,3,14.907158,1,53998.00,...,17.696970,8.976087,9.318478,10.951087,6.191511,6.697415,6.946731,6.263153,6.928876,7.508470
43180,66,38,8195942622,1,Subgroup C,0,3,24.462453,1,64418.00,...,12.428572,8.947826,8.775000,11.314130,7.716896,8.310183,8.602780,7.826232,8.456431,8.992498
43181,53,40,4998061809,0,Subgroup C,0,3,15.788764,1,64418.00,...,75.147190,14.614130,12.535870,13.615217,11.246546,11.606987,11.760611,11.311094,11.540871,11.855016
43182,37,53,7004427645,0,Subgroup C,0,3,9.080891,1,151792.46,...,39.822510,11.560870,12.789130,11.771739,5.915788,6.011025,5.979647,5.895722,6.030750,6.580437
43183,38,27,4330728686,0,Subgroup C,0,3,9.349206,1,64418.00,...,17.969696,9.425000,9.743478,11.846739,6.003201,6.482577,6.724924,6.080874,6.738228,7.317786

In [6]:
health_factors = ['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_glucose', 'lsbio_bp', 'lsbio_weight', 
                  'lsbio_trig', 'lshrq_physact', 'lshrq_tobacco', 'lshrq_nutrition', 'lshrq_stress', 
                  'lshrq_genHealth', 'lshrq_wellbeing', 'lshrq_alcohol', 'lshrq_sleeping', 
                  'cc_RespiratorySinusAllergy_chronic', 'cc_diabetes', 'cc_cancer', 'cc_mskChronic', 
                  'cc_cholesterol', 'cc_cardiac', 'cc_depression', 'cc_obesity', 'cc_mskAllOther', 
                  'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                  'extreme_heat_ssp245_2025', 'extreme_heat_ssp245_2035', 'extreme_heat_ssp245_2045']

In [7]:
all_factors = ['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_glucose', 'lsbio_bp', 'lsbio_weight', 
              'lsbio_trig', 'lshrq_physact', 'lshrq_tobacco', 'lshrq_nutrition', 'lshrq_stress', 
              'lshrq_genHealth', 'lshrq_wellbeing', 'lshrq_alcohol', 'lshrq_sleeping', 
              'cc_RespiratorySinusAllergy_chronic', 'cc_diabetes', 'cc_cancer', 'cc_mskChronic', 
              'cc_cholesterol', 'cc_cardiac', 'cc_depression', 'cc_obesity', 'cc_mskAllOther', 
              'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant']

In [8]:
def last_value(x):
    if x is None:
        print("Error: x is None")
        return None
    elif len(x) == 0:
        print("Error: x is empty")
        return None
    else:
        return x.iloc[-1]

new_df = df_C.groupby('person_id').agg({
    'absence_indicator': 'sum',
    'extreme_heat_2018': 'mean',
    'extreme_heat_2019': 'mean',
    'extreme_heat_2020': 'mean',
    **{health: last_value for health in health_factors}
}).reset_index()

new_df.head()

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045
0,1000028017,0,10.0,8.0,21.0,19,24,1,0,0,...,0,0,0,0,0.13,1,0,1.614719,2.238095,3.177489
1,1001534206,79,8.0,5.0,8.0,55,52,0,1,0,...,0,0,0,0,0.75,1,0,22.415585,27.372295,32.012985
2,1001889704,0,43.0,36.0,28.0,32,43,1,0,0,...,0,0,0,0,1.18,1,0,60.709957,68.432900,73.138530
3,1001944102,0,0.0,0.0,0.0,69,28,1,0,0,...,0,0,0,0,0.10,1,0,8.727273,11.683983,14.129870
4,1004530436,0,2.0,19.0,1.0,53,69,1,1,0,...,1,0,0,0,1.20,0,0,24.043290,27.380953,30.835499

In [9]:
new_df['extreme_heat'] = round((new_df['extreme_heat_2018']+new_df['extreme_heat_2019']+new_df['extreme_heat_2020'])/3,0)

In [10]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10755 entries, 0 to 10754
Data columns (total 39 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   person_id                           10755 non-null  int64
 1   absence_indicator                   10755 non-null  int64
 2   extreme_heat_2018                   10755 non-null  float64
 3   extreme_heat_2019                   10755 non-null  float64
 4   extreme_heat_2020                   10755 non-null  float64
 5   ADI                                 10755 non-null  int64
 6   Age                                 10755 non-null  int64
 7   Gender                              10755 non-null  int32
 8   lsbio_cholesterol                   10755 non-null  int64
 9   lsbio_glucose                       10755 non-null  int64
 10  lsbio_bp                            10755 non-null  int64
 11  lsbio_weight                        10755 non-null  int64
 12  lsbio_trig                          10755 non-null  int64
 13  lshrq_physact                       10755 non-null  int64
 14  lshrq_tobacco                       10755 non-null  int64
 15  lshrq_nutrition                     10755 non-null  int64
 16  lshrq_stress                        10755 non-null  int64
 17  lshrq_genHealth                     10755 non-null  int64
 18  lshrq_wellbeing                     10755 non-null  int64
 19  lshrq_alcohol                       10755 non-null  int64
 20  lshrq_sleeping                      10755 non-null  int64
 21  cc_RespiratorySinusAllergy_chronic  10755 non-null  int64
 22  cc_diabetes                         10755 non-null  int64
 23  cc_cancer                           10755 non-null  int64
 24  cc_mskChronic                       10755 non-null  int64
 25  cc_cholesterol                      10755 non-null  int64
 26  cc_cardiac                          10755 non-null  int64
 27  cc_depression                       10755 non-null  int64
 28  cc_obesity                          10755 non-null  int64
 29  cc_mskAllOther                      10755 non-null  int64
 30  cc_behavioralAllOther               10755 non-null  int64
 31  cc_ckd                              10755 non-null  int64
 32  concurrent_risk                     10755 non-null  float64
 33  rx_nonClaimant                      10755 non-null  int64
 34  rx_nonCompliant                     10755 non-null  int64
 35  extreme_heat_ssp245_2025            10755 non-null  float64
 36  extreme_heat_ssp245_2035            10755 non-null  float64
 37  extreme_heat_ssp245_2045            10755 non-null  float64
 38  extreme_heat                        10755 non-null  float64
dtypes: float64(8), int32(1), int64(30)
memory usage: 3.2 MB

In [11]:
new_df['absence_indicator'].value_counts()

absence_indicator
0      8837
1       206
6        26
61       26
40       17
       ...
313       1
279       1
294       1
401       1
327       1
Name: count, Length: 329, dtype: int64

### absence vs health

### Linear Regression

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['absence_indicator'])
y.loc[y['absence_indicator'] != 0, 'absence_indicator'] = np.log(y.loc[y['absence_indicator'] != 0, 'absence_indicator'])

x = pd.DataFrame(new_df[all_factors])

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

Train Set : (8066, 1) (8066, 30)
Test Set  : (2689, 1) (2689, 30)

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\3844257497.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[4.36944785 5.420535   5.29831737 ... 5.39362755 4.06044301 4.82028157]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  y.loc[y['absence_indicator'] != 0, 'absence_indicator'] = np.log(y.loc[y['absence_indicator'] != 0, 'absence_indicator'])

In [13]:
linreg = LinearRegression()

linreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', linreg.intercept_)

y_train_pred = linreg.predict(x_train)
y_test_pred = linreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", linreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", linreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Intercept of Regression 	: b =  [1.14588441]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.07332660007333391
Mean Squared Error (MSE) 	: 2.6329121804192015

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.07372824105906706
Mean Squared Error (MSE) 	: 2.649798046347881

In [14]:
import statsmodels.api as sm

x_train_with_constant = sm.add_constant(x_train)
model = sm.OLS(y_train, x_train_with_constant)
result = model.fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      absence_indicator   R-squared:                       0.073
Model:                            OLS   Adj. R-squared:                  0.070
Method:                 Least Squares   F-statistic:                     21.19
Date:                Thu, 04 Apr 2024   Prob (F-statistic):          6.13e-110
Time:                        14:56:18   Log-Likelihood:                -15349.
No. Observations:                8066   AIC:                         3.076e+04
Df Residuals:                    8035   BIC:                         3.098e+04
Df Model:                          30
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
const                                  1.1459      0.130      8.845      0.000       0.892       1.400
ADI                                    0.0019      0.001      2.050      0.040    8.25e-05       0.004
Age                                   -0.0186      0.002    -10.331      0.000      -0.022      -0.015
Gender                                -0.1482      0.038     -3.912      0.000      -0.222      -0.074
lsbio_cholesterol                     -0.0061      0.052     -0.116      0.907      -0.109       0.096
lsbio_glucose                          0.0549      0.101      0.545      0.586      -0.143       0.252
lsbio_bp                              -0.0157      0.054     -0.292      0.771      -0.121       0.090
lsbio_weight                          -0.0974      0.062     -1.578      0.115      -0.218       0.024
lsbio_trig                             0.0449      0.082      0.547      0.584      -0.116       0.206
lshrq_physact                          0.0593      0.057      1.048      0.295      -0.052       0.170
lshrq_tobacco                         -0.0228      0.129     -0.177      0.859      -0.275       0.229
lshrq_nutrition                        0.0104      0.051      0.203      0.839      -0.090       0.111
lshrq_stress                          -0.0452      0.054     -0.834      0.404      -0.152       0.061
lshrq_genHealth                        0.1050      0.094      1.112      0.266      -0.080       0.290
lshrq_wellbeing                        0.0517      0.066      0.784      0.433      -0.078       0.181
lshrq_alcohol                          0.0564      0.183      0.307      0.758      -0.303       0.416
lshrq_sleeping                         0.0493      0.056      0.882      0.378      -0.060       0.159
cc_RespiratorySinusAllergy_chronic    -0.0586      0.064     -0.919      0.358      -0.183       0.066
cc_diabetes                           -0.0830      0.086     -0.968      0.333      -0.251       0.085
cc_cancer                              0.3427      0.104      3.287      0.001       0.138       0.547
cc_mskChronic                          0.3178      0.048      6.663      0.000       0.224       0.411
cc_cholesterol                         0.0721      0.069      1.041      0.298      -0.064       0.208
cc_cardiac                             0.1431      0.076      1.887      0.059      -0.006       0.292
cc_depression                         -0.0043      0.084     -0.052      0.959      -0.169       0.160
cc_obesity                             0.0242      0.050      0.487      0.626      -0.073       0.122
cc_mskAllOther                        -0.0267      0.068     -0.392      0.695      -0.160       0.107
cc_behavioralAllOther                  0.0549      0.061      0.897      0.370      -0.065       0.175
cc_ckd                                -0.2633      0.270     -0.976      0.329      -0.792       0.266
concurrent_risk                        0.2419      0.015     16.662      0.000       0.213       0.270
rx_nonClaimant                         0.0638      0.085      0.746      0.455      -0.104       0.231
rx_nonCompliant                        0.0933      0.077      1.211      0.226      -0.058       0.244
==============================================================================
Omnibus:                     2784.660   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7268.220
Skew:                           1.930   Prob(JB):                         0.00
Kurtosis:                       5.592   Cond. No.                     1.01e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.01e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

### Random Forest Regression

In [15]:
from sklearn.ensemble import RandomForestRegressor

randomforest = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)
randomforest.fit(x_train, y_train)

y_train_pred = randomforest.predict(x_train)
train_mse = mean_squared_error(y_train_pred, y_train)
y_test_pred = randomforest.predict(x_test)
test_mse = mean_squared_error(y_test_pred, y_test)

print("Mean Squared Error (Train Dataset):", train_mse)
print("Mean Squared Error (Test Dataset):", test_mse)

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\458196643.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  randomforest.fit(x_train, y_train)

Mean Squared Error (Train Dataset): 2.4839318534044104
Mean Squared Error (Test Dataset): 2.6267227052912507

In [16]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param_dist = {
    'n_estimators': randint(50, 200),
    'max_depth': [None] + list(range(5, 20)),
    'min_samples_split': randint(2, 20)
}

randomized_search = RandomizedSearchCV(estimator=RandomForestRegressor(), param_distributions=param_dist, n_iter=5, cv=5, scoring='neg_mean_squared_error', random_state=42)

randomized_search.fit(x_train, y_train)

best_params = randomized_search.best_params_
print(best_params)

C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

{'max_depth': 6, 'min_samples_split': 12, 'n_estimators': 137}

In [17]:
 randomforest = RandomForestRegressor(n_estimators=best_params['n_estimators'], max_depth=best_params['max_depth'], min_samples_split=best_params['min_samples_split'], random_state=42)
randomforest.fit(x_train, y_train)

y_train_pred = randomforest.predict(x_train)
train_mse = mean_squared_error(y_train_pred, y_train)
y_test_pred = randomforest.predict(x_test)
test_mse = mean_squared_error(y_test_pred, y_test)

print("Mean Squared Error (Train Dataset):", train_mse)
print("Mean Squared Error (Test Dataset):", test_mse)

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\3880210030.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  randomforest.fit(x_train, y_train)

Mean Squared Error (Train Dataset): 2.392639462303762
Mean Squared Error (Test Dataset): 2.6337220952614655

In [18]:
significant_variable_rf = {}
significant_variable_rf['significant_variable'] = []

feature_importances = randomforest.feature_importances_
feature_importance_dict = dict(zip(x_train.columns, feature_importances))
sorted_features = sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True)

for feature, importance in sorted_features:
    if importance > 0.0035:
        significant_variable_rf['significant_variable'].append(feature)

significant_variable_rf

{'significant_variable': ['concurrent_risk',
  'Age',
  'ADI',
  'cc_mskChronic',
  'Gender',
  'cc_RespiratorySinusAllergy_chronic',
  'lsbio_trig',
  'cc_cancer',
  'rx_nonClaimant',
  'rx_nonCompliant',
  'lshrq_genHealth',
  'lshrq_stress',
  'cc_cardiac',
  'lshrq_wellbeing',
  'lshrq_physact',
  'cc_cholesterol',
  'lsbio_cholesterol',
  'lshrq_nutrition',
  'cc_behavioralAllOther',
  'cc_depression',
  'lsbio_bp',
  'lsbio_glucose',
  'cc_diabetes',
  'lsbio_weight',
  'lshrq_alcohol',
  'cc_obesity',
  'cc_ckd',
  'cc_mskAllOther',
  'lshrq_sleeping']}

## 2025

### cc_depression

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_depression'])
y['cc_depression'] = y['cc_depression'].astype('category')
x = pd.DataFrame(new_df[['Age', 'Gender', 'lsbio_glucose', 'lsbio_bp', 'lshrq_tobacco', 'lshrq_stress', 'cc_diabetes', 'cc_cholesterol', 
                         'cc_obesity', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 'extreme_heat']])

categorical_factors = ['Gender', 'lsbio_glucose', 'lsbio_bp', 'lshrq_tobacco', 'lshrq_stress', 'cc_diabetes', 'cc_cholesterol', 
                       'cc_obesity', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

depression_logreg = LogisticRegression()

depression_logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', depression_logreg.intercept_)

y_train_pred = depression_logreg.predict(x_train)
y_test_pred = depression_logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", depression_logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", depression_logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (8066, 1) (8066, 14)
Test Set  : (2689, 1) (2689, 14)
Intercept of Regression 	: b =  [1.90277913]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.9378874287131168
Mean Squared Error (MSE) 	: 0.06211257128688322

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.9378951283004835
Mean Squared Error (MSE) 	: 0.06210487169951655

C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.180680
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:          cc_depression   No. Observations:                 8066
Model:                          Logit   Df Residuals:                     8051
Method:                           MLE   Df Model:                           14
Date:                Thu, 04 Apr 2024   Pseudo R-squ.:                  0.2907
Time:                        15:11:51   Log-Likelihood:                -1457.4
converged:                      False   LL-Null:                       -2054.6
Covariance Type:            nonrobust   LLR p-value:                2.721e-246
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               2.0156      0.274      7.352      0.000       1.478       2.553
Age                -0.0532      0.005    -10.039      0.000      -0.064      -0.043
Gender             -0.4675      0.102     -4.561      0.000      -0.668      -0.267
lsbio_glucose      -0.7863      0.340     -2.313      0.021      -1.453      -0.120
lsbio_bp           -0.4902      0.134     -3.647      0.000      -0.754      -0.227
lshrq_tobacco       0.1174      0.331      0.355      0.723      -0.531       0.766
lshrq_stress        0.6601      0.125      5.296      0.000       0.416       0.904
cc_diabetes        -1.2590      0.186     -6.754      0.000      -1.624      -0.894
cc_cholesterol     -0.7628      0.136     -5.598      0.000      -1.030      -0.496
cc_obesity         -0.5292      0.122     -4.338      0.000      -0.768      -0.290
cc_ckd            -19.2083   5416.915     -0.004      0.997   -1.06e+04    1.06e+04
concurrent_risk     0.1281      0.026      4.954      0.000       0.077       0.179
rx_nonClaimant     -3.3816      0.137    -24.693      0.000      -3.650      -3.113
rx_nonCompliant     0.3761      0.124      3.021      0.003       0.132       0.620
extreme_heat       -0.0070      0.002     -2.937      0.003      -0.012      -0.002
===================================================================================

C:\Users\Willis\anaconda3\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [21]:
new_df_0 = new_df.loc[new_df['cc_depression'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['Age', 'Gender', 'lsbio_glucose', 'lsbio_bp', 'lshrq_tobacco', 'lshrq_stress', 'cc_diabetes', 'cc_cholesterol', 
                         'cc_obesity', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\1920471443.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,Age,Gender,lsbio_glucose,lsbio_bp,lshrq_tobacco,lshrq_stress,cc_diabetes,cc_cholesterol,cc_obesity,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat
0,24,1,0,0,0,0,0,0,0,0,0.13,1,0,1.614719
1,52,0,0,1,0,1,0,0,0,0,0.75,1,0,22.415585
2,43,1,0,0,0,0,0,0,0,0,1.18,1,0,60.709957
3,28,1,0,0,0,0,0,0,0,0,0.10,1,0,8.727273
4,69,1,0,1,0,1,0,1,1,0,1.20,0,0,24.043290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10748,62,1,0,0,0,0,0,0,0,0,1.09,1,0,83.268400
10750,26,0,0,0,0,0,0,0,0,0,0.49,1,0,5.748918
10751,51,0,0,0,0,0,1,0,1,0,0.85,0,1,2.792208
10752,51,0,0,1,0,0,0,0,1,0,1.29,0,0,63.307358
10754,47,0,1,1,0,1,0,1,1,0,1.88,0,0,12.545454

In [22]:
y_pred = depression_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [23]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    9936
1      55
Name: count, dtype: int64

In [24]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

        person_id  PredTotal
0      1000028017          0
1      1001534206          0
2      1001889704          0
3      1001944102          0
4      1004530436          0
...           ...        ...
10748  9991339843          0
10750  9993884950          0
10751  9994462681          0
10752  9994569952          0
10754  9998854988          0

[9991 rows x 2 columns]

In [25]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_depression'].value_counts())

new_df['cc_depression'] = np.where(new_df['cc_depression']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_depression'].value_counts())

cc_depression
0    9991
1     764
Name: count, dtype: int64
cc_depression
0.0    9936
1.0     819
Name: count, dtype: int64

In [26]:
new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat
0,1000028017,0,10.0,8.0,21.0,19,24,1,0,0,...,0,0,0,0.13,1,0,1.614719,2.238095,3.177489,13.0
1,1001534206,79,8.0,5.0,8.0,55,52,0,1,0,...,0,0,0,0.75,1,0,22.415585,27.372295,32.012985,7.0
2,1001889704,0,43.0,36.0,28.0,32,43,1,0,0,...,0,0,0,1.18,1,0,60.709957,68.432900,73.138530,36.0
3,1001944102,0,0.0,0.0,0.0,69,28,1,0,0,...,0,0,0,0.10,1,0,8.727273,11.683983,14.129870,0.0
4,1004530436,0,2.0,19.0,1.0,53,69,1,1,0,...,0,0,0,1.20,0,0,24.043290,27.380953,30.835499,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,9993884950,0,1.0,0.0,0.0,15,26,0,0,0,...,0,1,0,0.49,1,0,5.748918,8.069264,10.389610,0.0
10751,9994462681,0,0.0,0.0,1.0,95,51,0,0,0,...,0,0,0,0.85,0,1,2.792208,3.995671,5.134199,0.0
10752,9994569952,0,40.0,22.0,8.0,80,51,0,0,0,...,0,0,0,1.29,0,0,63.307358,69.419914,75.311690,23.0
10753,9998301213,124,3.0,4.0,0.0,15,53,1,0,0,...,0,0,0,1.09,0,1,18.649351,23.025974,27.376623,2.0
10754,9998854988,0,0.0,2.0,0.0,19,47,0,0,1,...,0,0,0,1.88,0,0,12.545454,15.658009,18.683983,1.0

### cc_cardiac

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_cardiac'])
y['cc_cardiac'] = y['cc_cardiac'].astype('category')
x = pd.DataFrame(new_df[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_trig', 'lshrq_nutrition', 'lshrq_genHealth', 
                         'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 
                         'extreme_heat']])

categorical_factors = ['Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_trig', 'lshrq_nutrition', 'lshrq_genHealth', 
                       'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

cardiac_logreg = LogisticRegression()

cardiac_logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', cardiac_logreg.intercept_)

y_train_pred = cardiac_logreg.predict(x_train)
y_test_pred = cardiac_logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", cardiac_logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", cardiac_logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (8066, 1) (8066, 16)
Test Set  : (2689, 1) (2689, 16)
Intercept of Regression 	: b =  [-2.30357448]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.9124721051326556
Mean Squared Error (MSE) 	: 0.08752789486734441

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.9077724060989215
Mean Squared Error (MSE) 	: 0.09222759390107847

C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [28]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.197445
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:             cc_cardiac   No. Observations:                 8066
Model:                          Logit   Df Residuals:                     8049
Method:                           MLE   Df Model:                           16
Date:                Thu, 04 Apr 2024   Pseudo R-squ.:                  0.5483
Time:                        15:26:35   Log-Likelihood:                -1592.6
converged:                       True   LL-Null:                       -3525.5
Covariance Type:            nonrobust   LLR p-value:                     0.000
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -3.0502      0.274    -11.133      0.000      -3.587      -2.513
ADI                       0.0085      0.002      3.695      0.000       0.004       0.013
Age                       0.0494      0.005     10.507      0.000       0.040       0.059
Gender                    0.4257      0.095      4.501      0.000       0.240       0.611
lsbio_cholesterol        -0.2933      0.128     -2.295      0.022      -0.544      -0.043
lsbio_bp                  0.4705      0.123      3.813      0.000       0.229       0.712
lsbio_trig                0.0559      0.188      0.297      0.767      -0.314       0.425
lshrq_nutrition          -0.3091      0.121     -2.546      0.011      -0.547      -0.071
lshrq_genHealth           0.2228      0.202      1.104      0.269      -0.173       0.618
cc_diabetes              -0.8720      0.117     -7.454      0.000      -1.101      -0.643
cc_obesity                0.5333      0.103      5.167      0.000       0.331       0.736
cc_mskAllOther            0.0991      0.157      0.632      0.527      -0.208       0.406
cc_behavioralAllOther     1.1665      0.152      7.678      0.000       0.869       1.464
cc_ckd                    2.1688      0.739      2.935      0.003       0.720       3.617
concurrent_risk           0.1127      0.026      4.370      0.000       0.062       0.163
rx_nonClaimant           -4.5169      0.123    -36.724      0.000      -4.758      -4.276
extreme_heat              0.0038      0.002      2.190      0.029       0.000       0.007
=========================================================================================

In [29]:
new_df_0 = new_df.loc[new_df['cc_cardiac'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_trig', 'lshrq_nutrition', 'lshrq_genHealth', 
                         'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 
                         'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\3040977155.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,ADI,Age,Gender,lsbio_cholesterol,lsbio_bp,lsbio_trig,lshrq_nutrition,lshrq_genHealth,cc_diabetes,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,19,24,1,0,0,0,1,0,0,0,0,0,0,0.13,1,1.614719
1,55,52,0,1,1,1,1,0,0,0,0,0,0,0.75,1,22.415585
2,32,43,1,0,0,0,0,0,0,0,0,0,0,1.18,1,60.709957
3,69,28,1,0,0,0,0,0,0,0,0,0,0,0.10,1,8.727273
5,39,30,0,0,1,0,1,0,0,1,0,0,0,2.01,1,3.917749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10748,56,62,1,0,0,0,0,0,0,0,0,0,0,1.09,1,83.268400
10749,29,51,0,0,1,0,1,1,0,1,0,0,0,8.02,0,9.744589
10750,15,26,0,0,0,0,0,0,0,0,0,1,0,0.49,1,5.748918
10753,15,53,1,0,0,0,0,0,0,0,0,0,0,1.09,0,18.649351
10754,19,47,0,0,1,0,1,0,0,1,0,0,0,1.88,0,12.545454

In [30]:
y_pred = cardiac_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [31]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    8467
1     604
Name: count, dtype: int64

In [32]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

        person_id  PredTotal
0      1000028017          0
1      1001534206          0
2      1001889704          0
3      1001944102          0
5      1005301859          0
...           ...        ...
10748  9991339843          0
10749  9991657782          1
10750  9993884950          0
10753  9998301213          1
10754  9998854988          1

[9071 rows x 2 columns]

In [33]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

new_df['cc_cardiac'] = np.where(new_df['cc_cardiac']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

cc_cardiac
0    9071
1    1684
Name: count, dtype: int64
cc_cardiac
0.0    8467
1.0    2288
Name: count, dtype: int64

### cc_RespiratorySinusAllergy_chronic

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_RespiratorySinusAllergy_chronic'])
y['cc_RespiratorySinusAllergy_chronic'] = y['cc_RespiratorySinusAllergy_chronic'].astype('category')
x = pd.DataFrame(new_df[['ADI', 'Gender', 'lsbio_weight', 'lshrq_physact', 'lshrq_stress', 'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 
                         'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

categorical_factors = ['Gender', 'lsbio_weight', 'lshrq_physact', 'lshrq_stress', 'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 
                       'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

respiratory_logreg = LogisticRegression()

respiratory_logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', respiratory_logreg.intercept_)

y_train_pred = respiratory_logreg.predict(x_train)
y_test_pred = respiratory_logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", respiratory_logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", respiratory_logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (8066, 1) (8066, 13)
Test Set  : (2689, 1) (2689, 13)
Intercept of Regression 	: b =  [-1.83108849]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.906273245722787
Mean Squared Error (MSE) 	: 0.093726754277213

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.9077724060989215
Mean Squared Error (MSE) 	: 0.09222759390107847

C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Willis\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [35]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.296004
         Iterations 8
                                   Logit Regression Results
==============================================================================================
Dep. Variable:     cc_RespiratorySinusAllergy_chronic   No. Observations:                 8066
Model:                                          Logit   Df Residuals:                     8052
Method:                                           MLE   Df Model:                           13
Date:                                Thu, 04 Apr 2024   Pseudo R-squ.:                 0.04412
Time:                                        15:37:44   Log-Likelihood:                -2387.6
converged:                                       True   LL-Null:                       -2497.8
Covariance Type:                            nonrobust   LLR p-value:                 8.543e-40
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -1.7666      0.143    -12.374      0.000      -2.046      -1.487
ADI                      -0.0057      0.002     -2.877      0.004      -0.010      -0.002
Gender                   -0.2439      0.080     -3.066      0.002      -0.400      -0.088
lsbio_weight             -0.1124      0.111     -1.016      0.310      -0.329       0.104
lshrq_physact            -0.2728      0.121     -2.263      0.024      -0.509      -0.037
lshrq_stress              0.2336      0.103      2.274      0.023       0.032       0.435
cc_diabetes              -0.6214      0.164     -3.782      0.000      -0.943      -0.299
cc_obesity                0.1740      0.101      1.724      0.085      -0.024       0.372
cc_mskAllOther            0.1689      0.135      1.255      0.209      -0.095       0.433
cc_behavioralAllOther     0.2983      0.114      2.624      0.009       0.075       0.521
cc_ckd                   -2.2912      1.030     -2.224      0.026      -4.311      -0.272
concurrent_risk           0.2045      0.021      9.788      0.000       0.164       0.245
rx_nonClaimant           -0.5570      0.095     -5.887      0.000      -0.742      -0.372
extreme_heat             -0.0010      0.002     -0.639      0.523      -0.004       0.002
=========================================================================================

In [36]:
new_df_0 = new_df.loc[new_df['cc_RespiratorySinusAllergy_chronic'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['ADI', 'Gender', 'lsbio_weight', 'lshrq_physact', 'lshrq_stress', 'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 
                         'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\1999400810.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,ADI,Gender,lsbio_weight,lshrq_physact,lshrq_stress,cc_diabetes,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,19,1,1,0,0,0,0,0,0,0,0.13,1,1.614719
1,55,0,1,0,1,0,0,0,0,0,0.75,1,22.415585
2,32,1,0,0,0,0,0,0,0,0,1.18,1,60.709957
3,69,1,0,0,0,0,0,0,0,0,0.10,1,8.727273
4,53,1,1,0,1,0,1,0,0,0,1.20,0,24.043290
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,15,0,0,0,0,0,0,0,1,0,0.49,1,5.748918
10751,95,0,0,0,0,1,1,0,0,0,0.85,0,2.792208
10752,80,0,1,0,0,0,1,0,0,0,1.29,0,63.307358
10753,15,1,0,0,0,0,0,0,0,0,1.09,0,18.649351
10754,19,0,1,1,1,0,1,0,0,0,1.88,0,12.545454

In [37]:
y_pred = respiratory_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [38]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    9746
1      10
Name: count, dtype: int64

In [39]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

        person_id  PredTotal
0      1000028017          0
1      1001534206          0
2      1001889704          0
3      1001944102          0
4      1004530436          0
...           ...        ...
10750  9993884950          0
10751  9994462681          0
10752  9994569952          0
10753  9998301213          0
10754  9998854988          0

[9756 rows x 2 columns]

In [40]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_RespiratorySinusAllergy_chronic'].value_counts())

new_df['cc_RespiratorySinusAllergy_chronic'] = np.where(new_df['cc_RespiratorySinusAllergy_chronic']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_RespiratorySinusAllergy_chronic'].value_counts())

cc_RespiratorySinusAllergy_chronic
0    9756
1     999
Name: count, dtype: int64
cc_RespiratorySinusAllergy_chronic
0.0    9746
1.0    1009
Name: count, dtype: int64

### absence_indicator prediction 2025

In [41]:
new_df_2 = new_df[all_factors]

new_df_2

,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,lsbio_bp,lsbio_weight,lsbio_trig,lshrq_physact,lshrq_tobacco,...,cc_cholesterol,cc_cardiac,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant
0,19,24,1,0,0,0,1,0,0,0,...,0,0.0,0.0,0,0,0,0,0.13,1,0
1,55,52,0,1,0,1,1,1,0,0,...,0,0.0,0.0,0,0,0,0,0.75,1,0
2,32,43,1,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,0,0,1.18,1,0
3,69,28,1,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0.10,1,0
4,53,69,1,1,0,1,1,0,0,0,...,1,1.0,0.0,1,0,0,0,1.20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,15,26,0,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,1,0,0.49,1,0
10751,95,51,0,0,0,0,0,0,0,0,...,0,1.0,0.0,1,0,0,0,0.85,0,1
10752,80,51,0,0,0,1,1,0,0,0,...,0,1.0,0.0,1,0,0,0,1.29,0,0
10753,15,53,1,0,0,0,0,0,0,0,...,0,1.0,1.0,0,0,0,0,1.09,0,1
10754,19,47,0,0,1,1,1,0,1,0,...,1,1.0,0.0,1,0,0,0,1.88,0,0

In [42]:
absence_pred = linreg.predict(new_df_2)

absence_pred

array([[0.64527797],
       [0.57715177],
       [0.92627455],
       ...,
       [0.71558361],
       [0.53717963],
       [1.67874103]])

In [43]:
absence_pred_2 = randomforest.predict(new_df_2)

absence_pred_2

array([0.790414  , 0.78978343, 0.68643839, ..., 0.72409498, 0.52009014,
       1.50574571])

In [44]:
absence_pred = pd.DataFrame(absence_pred, columns = ["absence_prediction_lr_2025"], index = new_df_2.index)
absence_pred['absence_prediction_lr_2025'] = round(absence_pred['absence_prediction_lr_2025'],0)
new_df_2 = pd.concat([new_df_2, absence_pred], axis = 1)
new_df_2['absence_prediction_lr_2025'] = np.where(new_df_2['absence_prediction_lr_2025']!=0,round(np.exp(new_df_2['absence_prediction_lr_2025']),0),0)

new_df_2['absence_prediction_lr_2025'].value_counts()

absence_prediction_lr_2025
3.0     6486
0.0     3644
7.0      501
20.0     121
55.0       3
Name: count, dtype: int64

In [45]:
absence_pred_2 = pd.DataFrame(absence_pred_2, columns = ["absence_prediction_rf_2025"], index = new_df_2.index)
absence_pred_2['absence_prediction_rf_2025'] = round(absence_pred_2['absence_prediction_rf_2025'],0)
new_df_2 = pd.concat([new_df_2, absence_pred_2], axis = 1)
new_df_2['absence_prediction_rf_2025'] = np.where(new_df_2['absence_prediction_rf_2025']!=0,round(np.exp(new_df_2['absence_prediction_rf_2025']),0),0)

new_df_2['absence_prediction_rf_2025'].value_counts()

absence_prediction_rf_2025
3.0     5763
0.0     4143
7.0      747
20.0      97
55.0       5
Name: count, dtype: int64

In [46]:
new_df = new_df.merge(new_df_2, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat,absence_prediction_lr_2025,absence_prediction_rf_2025
0,1000028017,0,10.0,8.0,21.0,19,24,1,0,0,...,0,0.13,1,0,1.614719,2.238095,3.177489,13.0,3.0,3.0
1,1001534206,79,8.0,5.0,8.0,55,52,0,1,0,...,0,0.75,1,0,22.415585,27.372295,32.012985,7.0,3.0,3.0
2,1001889704,0,43.0,36.0,28.0,32,43,1,0,0,...,0,1.18,1,0,60.709957,68.432900,73.138530,36.0,3.0,3.0
3,1001944102,0,0.0,0.0,0.0,69,28,1,0,0,...,0,0.10,1,0,8.727273,11.683983,14.129870,0.0,3.0,3.0
4,1004530436,0,2.0,19.0,1.0,53,69,1,1,0,...,0,1.20,0,0,24.043290,27.380953,30.835499,7.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,9993884950,0,1.0,0.0,0.0,15,26,0,0,0,...,0,0.49,1,0,5.748918,8.069264,10.389610,0.0,3.0,3.0
10751,9994462681,0,0.0,0.0,1.0,95,51,0,0,0,...,0,0.85,0,1,2.792208,3.995671,5.134199,0.0,3.0,3.0
10752,9994569952,0,40.0,22.0,8.0,80,51,0,0,0,...,0,1.29,0,0,63.307358,69.419914,75.311690,23.0,3.0,3.0
10753,9998301213,124,3.0,4.0,0.0,15,53,1,0,0,...,0,1.09,0,1,18.649351,23.025974,27.376623,2.0,3.0,3.0
10754,9998854988,0,0.0,2.0,0.0,19,47,0,0,1,...,0,1.88,0,0,12.545454,15.658009,18.683983,1.0,7.0,7.0

## 2035

### cc_depression

In [48]:
new_df_0 = new_df.loc[new_df['cc_depression'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']
x = pd.DataFrame(new_df_0[['Age', 'Gender', 'lsbio_glucose', 'lsbio_bp', 'lshrq_tobacco', 'lshrq_stress', 'cc_diabetes', 'cc_cholesterol', 
                         'cc_obesity', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\2745848927.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']

,Age,Gender,lsbio_glucose,lsbio_bp,lshrq_tobacco,lshrq_stress,cc_diabetes,cc_cholesterol,cc_obesity,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat
0,24,1,0,0,0,0,0,0,0,0,0.13,1,0,2.238095
1,52,0,0,1,0,1,0,0,0,0,0.75,1,0,27.372295
2,43,1,0,0,0,0,0,0,0,0,1.18,1,0,68.432900
3,28,1,0,0,0,0,0,0,0,0,0.10,1,0,11.683983
4,69,1,0,1,0,1,0,1,1,0,1.20,0,0,27.380953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10748,62,1,0,0,0,0,0,0,0,0,1.09,1,0,90.744590
10750,26,0,0,0,0,0,0,0,0,0,0.49,1,0,8.069264
10751,51,0,0,0,0,0,1,0,1,0,0.85,0,1,3.995671
10752,51,0,0,1,0,0,0,0,1,0,1.29,0,0,69.419914
10754,47,0,1,1,0,1,0,1,1,0,1.88,0,0,15.658009

In [49]:
y_pred = depression_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [50]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    9936
Name: count, dtype: int64

In [51]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

        person_id  PredTotal
0      1000028017          0
1      1001534206          0
2      1001889704          0
3      1001944102          0
4      1004530436          0
...           ...        ...
10748  9991339843          0
10750  9993884950          0
10751  9994462681          0
10752  9994569952          0
10754  9998854988          0

[9936 rows x 2 columns]

In [52]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_depression'].value_counts())

new_df['cc_depression'] = np.where(new_df['cc_depression']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_depression'].value_counts())

cc_depression
0.0    9936
1.0     819
Name: count, dtype: int64
cc_depression
0.0    9936
1.0     819
Name: count, dtype: int64

### cc_cardiac

In [53]:
new_df_0 = new_df.loc[new_df['cc_cardiac'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_trig', 'lshrq_nutrition', 'lshrq_genHealth', 
                         'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 
                         'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\2664558556.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']

,ADI,Age,Gender,lsbio_cholesterol,lsbio_bp,lsbio_trig,lshrq_nutrition,lshrq_genHealth,cc_diabetes,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,19,24,1,0,0,0,1,0,0,0,0,0,0,0.13,1,2.238095
1,55,52,0,1,1,1,1,0,0,0,0,0,0,0.75,1,27.372295
2,32,43,1,0,0,0,0,0,0,0,0,0,0,1.18,1,68.432900
3,69,28,1,0,0,0,0,0,0,0,0,0,0,0.10,1,11.683983
5,39,30,0,0,1,0,1,0,0,1,0,0,0,2.01,1,4.696969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10745,43,36,1,0,0,0,0,0,0,0,0,0,0,1.25,1,10.554112
10746,34,38,1,0,0,0,1,0,0,1,0,0,0,0.15,1,13.000000
10747,25,29,0,0,0,0,0,0,0,0,0,0,0,0.35,1,13.000000
10748,56,62,1,0,0,0,0,0,0,0,0,0,0,1.09,1,90.744590
10750,15,26,0,0,0,0,0,0,0,0,0,1,0,0.49,1,8.069264

In [54]:
y_pred = cardiac_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [55]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    8461
1       6
Name: count, dtype: int64

In [56]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

        person_id  PredTotal
0      1000028017          0
1      1001534206          0
2      1001889704          0
3      1001944102          0
5      1005301859          0
...           ...        ...
10745  9989111168          0
10746  9989196039          0
10747  9989343065          0
10748  9991339843          0
10750  9993884950          0

[8467 rows x 2 columns]

In [57]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

new_df['cc_cardiac'] = np.where(new_df['cc_cardiac']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

cc_cardiac
0.0    8467
1.0    2288
Name: count, dtype: int64
cc_cardiac
0.0    8461
1.0    2294
Name: count, dtype: int64

### cc_RespiratorySinusAllergy_chronic

In [58]:
new_df_0 = new_df.loc[new_df['cc_RespiratorySinusAllergy_chronic'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']
x = pd.DataFrame(new_df_0[['ADI', 'Gender', 'lsbio_weight', 'lshrq_physact', 'lshrq_stress', 'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 
                         'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\615859910.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']

,ADI,Gender,lsbio_weight,lshrq_physact,lshrq_stress,cc_diabetes,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,19,1,1,0,0,0,0,0,0,0,0.13,1,2.238095
1,55,0,1,0,1,0,0,0,0,0,0.75,1,27.372295
2,32,1,0,0,0,0,0,0,0,0,1.18,1,68.432900
3,69,1,0,0,0,0,0,0,0,0,0.10,1,11.683983
4,53,1,1,0,1,0,1,0,0,0,1.20,0,27.380953
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,15,0,0,0,0,0,0,0,1,0,0.49,1,8.069264
10751,95,0,0,0,0,1,1,0,0,0,0.85,0,3.995671
10752,80,0,1,0,0,0,1,0,0,0,1.29,0,69.419914
10753,15,1,0,0,0,0,0,0,0,0,1.09,0,23.025974
10754,19,0,1,1,1,0,1,0,0,0,1.88,0,15.658009

In [59]:
y_pred = respiratory_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [60]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    9746
Name: count, dtype: int64

In [61]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_RespiratorySinusAllergy_chronic'].value_counts())

new_df['cc_RespiratorySinusAllergy_chronic'] = np.where(new_df['cc_RespiratorySinusAllergy_chronic']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_RespiratorySinusAllergy_chronic'].value_counts())

cc_RespiratorySinusAllergy_chronic
0.0    9746
1.0    1009
Name: count, dtype: int64
cc_RespiratorySinusAllergy_chronic
0.0    9746
1.0    1009
Name: count, dtype: int64

### absence_indicator prediction 2035

In [62]:
new_df_2 = new_df[all_factors]

new_df_2

,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,lsbio_bp,lsbio_weight,lsbio_trig,lshrq_physact,lshrq_tobacco,...,cc_cholesterol,cc_cardiac,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant
0,19,24,1,0,0,0,1,0,0,0,...,0,0.0,0.0,0,0,0,0,0.13,1,0
1,55,52,0,1,0,1,1,1,0,0,...,0,0.0,0.0,0,0,0,0,0.75,1,0
2,32,43,1,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,0,0,1.18,1,0
3,69,28,1,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0.10,1,0
4,53,69,1,1,0,1,1,0,0,0,...,1,1.0,0.0,1,0,0,0,1.20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,15,26,0,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,1,0,0.49,1,0
10751,95,51,0,0,0,0,0,0,0,0,...,0,1.0,0.0,1,0,0,0,0.85,0,1
10752,80,51,0,0,0,1,1,0,0,0,...,0,1.0,0.0,1,0,0,0,1.29,0,0
10753,15,53,1,0,0,0,0,0,0,0,...,0,1.0,1.0,0,0,0,0,1.09,0,1
10754,19,47,0,0,1,1,1,0,1,0,...,1,1.0,0.0,1,0,0,0,1.88,0,0

In [63]:
absence_pred = linreg.predict(new_df_2)

absence_pred

array([[0.64527797],
       [0.57715177],
       [0.92627455],
       ...,
       [0.71558361],
       [0.53717963],
       [1.67874103]])

In [64]:
absence_pred_2 = randomforest.predict(new_df_2)

absence_pred_2

array([0.790414  , 0.78978343, 0.68643839, ..., 0.72409498, 0.52009014,
       1.50574571])

In [65]:
absence_pred = pd.DataFrame(absence_pred, columns = ["absence_prediction_lr_2035"], index = new_df_2.index)
absence_pred['absence_prediction_lr_2035'] = round(absence_pred['absence_prediction_lr_2035'],0)
new_df_2 = pd.concat([new_df_2, absence_pred], axis = 1)
new_df_2['absence_prediction_lr_2035'] = np.where(new_df_2['absence_prediction_lr_2035']!=0,round(np.exp(new_df_2['absence_prediction_lr_2035']),0),0)

new_df_2['absence_prediction_lr_2035'].value_counts()

absence_prediction_lr_2035
3.0     6488
0.0     3642
7.0      501
20.0     121
55.0       3
Name: count, dtype: int64

In [66]:
absence_pred_2 = pd.DataFrame(absence_pred_2, columns = ["absence_prediction_rf_2035"], index = new_df_2.index)
absence_pred_2['absence_prediction_rf_2035'] = round(absence_pred_2['absence_prediction_rf_2035'],0)
new_df_2 = pd.concat([new_df_2, absence_pred_2], axis = 1)
new_df_2['absence_prediction_rf_2035'] = np.where(new_df_2['absence_prediction_rf_2035']!=0,round(np.exp(new_df_2['absence_prediction_rf_2035']),0),0)

new_df_2['absence_prediction_rf_2035'].value_counts()

absence_prediction_rf_2035
3.0     5762
0.0     4143
7.0      748
20.0      97
55.0       5
Name: count, dtype: int64

In [67]:
new_df = new_df.merge(new_df_2, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat,absence_prediction_lr_2025,absence_prediction_rf_2025,absence_prediction_lr_2035,absence_prediction_rf_2035
0,1000028017,0,10.0,8.0,21.0,19,24,1,0,0,...,1,0,1.614719,2.238095,3.177489,13.0,3.0,3.0,3.0,3.0
1,1001534206,79,8.0,5.0,8.0,55,52,0,1,0,...,1,0,22.415585,27.372295,32.012985,7.0,3.0,3.0,3.0,3.0
2,1001889704,0,43.0,36.0,28.0,32,43,1,0,0,...,1,0,60.709957,68.432900,73.138530,36.0,3.0,3.0,3.0,3.0
3,1001944102,0,0.0,0.0,0.0,69,28,1,0,0,...,1,0,8.727273,11.683983,14.129870,0.0,3.0,3.0,3.0,3.0
4,1004530436,0,2.0,19.0,1.0,53,69,1,1,0,...,0,0,24.043290,27.380953,30.835499,7.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,9993884950,0,1.0,0.0,0.0,15,26,0,0,0,...,1,0,5.748918,8.069264,10.389610,0.0,3.0,3.0,3.0,3.0
10751,9994462681,0,0.0,0.0,1.0,95,51,0,0,0,...,0,1,2.792208,3.995671,5.134199,0.0,3.0,3.0,3.0,3.0
10752,9994569952,0,40.0,22.0,8.0,80,51,0,0,0,...,0,0,63.307358,69.419914,75.311690,23.0,3.0,3.0,3.0,3.0
10753,9998301213,124,3.0,4.0,0.0,15,53,1,0,0,...,0,1,18.649351,23.025974,27.376623,2.0,3.0,3.0,3.0,3.0
10754,9998854988,0,0.0,2.0,0.0,19,47,0,0,1,...,0,0,12.545454,15.658009,18.683983,1.0,7.0,7.0,7.0,7.0

## 2045

### cc_depression

In [68]:
new_df_0 = new_df.loc[new_df['cc_depression'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']
x = pd.DataFrame(new_df_0[['Age', 'Gender', 'lsbio_glucose', 'lsbio_bp', 'lshrq_tobacco', 'lshrq_stress', 'cc_diabetes', 'cc_cholesterol', 
                         'cc_obesity', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\3303474866.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']

,Age,Gender,lsbio_glucose,lsbio_bp,lshrq_tobacco,lshrq_stress,cc_diabetes,cc_cholesterol,cc_obesity,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat
0,24,1,0,0,0,0,0,0,0,0,0.13,1,0,3.177489
1,52,0,0,1,0,1,0,0,0,0,0.75,1,0,32.012985
2,43,1,0,0,0,0,0,0,0,0,1.18,1,0,73.138530
3,28,1,0,0,0,0,0,0,0,0,0.10,1,0,14.129870
4,69,1,0,1,0,1,0,1,1,0,1.20,0,0,30.835499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10748,62,1,0,0,0,0,0,0,0,0,1.09,1,0,95.134200
10750,26,0,0,0,0,0,0,0,0,0,0.49,1,0,10.389610
10751,51,0,0,0,0,0,1,0,1,0,0.85,0,1,5.134199
10752,51,0,0,1,0,0,0,0,1,0,1.29,0,0,75.311690
10754,47,0,1,1,0,1,0,1,1,0,1.88,0,0,18.683983

In [69]:
y_pred = depression_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [70]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    9936
Name: count, dtype: int64

In [71]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

        person_id  PredTotal
0      1000028017          0
1      1001534206          0
2      1001889704          0
3      1001944102          0
4      1004530436          0
...           ...        ...
10748  9991339843          0
10750  9993884950          0
10751  9994462681          0
10752  9994569952          0
10754  9998854988          0

[9936 rows x 2 columns]

In [72]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_depression'].value_counts())

new_df['cc_depression'] = np.where(new_df['cc_depression']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_depression'].value_counts())

cc_depression
0.0    9936
1.0     819
Name: count, dtype: int64
cc_depression
0.0    9936
1.0     819
Name: count, dtype: int64

### cc_cardiac

In [73]:
new_df_0 = new_df.loc[new_df['cc_cardiac'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_trig', 'lshrq_nutrition', 'lshrq_genHealth', 
                         'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 
                         'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\164116607.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']

,ADI,Age,Gender,lsbio_cholesterol,lsbio_bp,lsbio_trig,lshrq_nutrition,lshrq_genHealth,cc_diabetes,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,19,24,1,0,0,0,1,0,0,0,0,0,0,0.13,1,3.177489
1,55,52,0,1,1,1,1,0,0,0,0,0,0,0.75,1,32.012985
2,32,43,1,0,0,0,0,0,0,0,0,0,0,1.18,1,73.138530
3,69,28,1,0,0,0,0,0,0,0,0,0,0,0.10,1,14.129870
5,39,30,0,0,1,0,1,0,0,1,0,0,0,2.01,1,5.402597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10745,43,36,1,0,0,0,0,0,0,0,0,0,0,1.25,1,13.251082
10746,34,38,1,0,0,0,1,0,0,1,0,0,0,0.15,1,15.709957
10747,25,29,0,0,0,0,0,0,0,0,0,0,0,0.35,1,15.709957
10748,56,62,1,0,0,0,0,0,0,0,0,0,0,1.09,1,95.134200
10750,15,26,0,0,0,0,0,0,0,0,0,1,0,0.49,1,10.389610

In [74]:
y_pred = cardiac_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [75]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    8455
1       6
Name: count, dtype: int64

In [76]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

        person_id  PredTotal
0      1000028017          0
1      1001534206          0
2      1001889704          0
3      1001944102          0
5      1005301859          0
...           ...        ...
10745  9989111168          0
10746  9989196039          0
10747  9989343065          0
10748  9991339843          0
10750  9993884950          0

[8461 rows x 2 columns]

In [77]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

new_df['cc_cardiac'] = np.where(new_df['cc_cardiac']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

cc_cardiac
0.0    8461
1.0    2294
Name: count, dtype: int64
cc_cardiac
0.0    8455
1.0    2300
Name: count, dtype: int64

### cc_RespiratorySinusAllergy_chronic

In [78]:
new_df_0 = new_df.loc[new_df['cc_RespiratorySinusAllergy_chronic'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']
x = pd.DataFrame(new_df_0[['ADI', 'Gender', 'lsbio_weight', 'lshrq_physact', 'lshrq_stress', 'cc_diabetes', 'cc_obesity', 'cc_mskAllOther', 
                         'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

x

C:\Users\Willis\AppData\Local\Temp\ipykernel_10784\1054599309.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']

,ADI,Gender,lsbio_weight,lshrq_physact,lshrq_stress,cc_diabetes,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,19,1,1,0,0,0,0,0,0,0,0.13,1,3.177489
1,55,0,1,0,1,0,0,0,0,0,0.75,1,32.012985
2,32,1,0,0,0,0,0,0,0,0,1.18,1,73.138530
3,69,1,0,0,0,0,0,0,0,0,0.10,1,14.129870
4,53,1,1,0,1,0,1,0,0,0,1.20,0,30.835499
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,15,0,0,0,0,0,0,0,1,0,0.49,1,10.389610
10751,95,0,0,0,0,1,1,0,0,0,0.85,0,5.134199
10752,80,0,1,0,0,0,1,0,0,0,1.29,0,75.311690
10753,15,1,0,0,0,0,0,0,0,0,1.09,0,27.376623
10754,19,0,1,1,1,0,1,0,0,0,1.88,0,18.683983

In [79]:
y_pred = respiratory_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [80]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    9746
Name: count, dtype: int64

In [81]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

        person_id  PredTotal
0      1000028017          0
1      1001534206          0
2      1001889704          0
3      1001944102          0
4      1004530436          0
...           ...        ...
10750  9993884950          0
10751  9994462681          0
10752  9994569952          0
10753  9998301213          0
10754  9998854988          0

[9746 rows x 2 columns]

In [82]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_RespiratorySinusAllergy_chronic'].value_counts())

new_df['cc_RespiratorySinusAllergy_chronic'] = np.where(new_df['cc_RespiratorySinusAllergy_chronic']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_RespiratorySinusAllergy_chronic'].value_counts())

cc_RespiratorySinusAllergy_chronic
0.0    9746
1.0    1009
Name: count, dtype: int64
cc_RespiratorySinusAllergy_chronic
0.0    9746
1.0    1009
Name: count, dtype: int64

### absence_indicator prediction 2045

In [83]:
new_df_2 = new_df[all_factors]

new_df_2

,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,lsbio_bp,lsbio_weight,lsbio_trig,lshrq_physact,lshrq_tobacco,...,cc_cholesterol,cc_cardiac,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant
0,19,24,1,0,0,0,1,0,0,0,...,0,0.0,0.0,0,0,0,0,0.13,1,0
1,55,52,0,1,0,1,1,1,0,0,...,0,0.0,0.0,0,0,0,0,0.75,1,0
2,32,43,1,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,0,0,1.18,1,0
3,69,28,1,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0.10,1,0
4,53,69,1,1,0,1,1,0,0,0,...,1,1.0,0.0,1,0,0,0,1.20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,15,26,0,0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,1,0,0.49,1,0
10751,95,51,0,0,0,0,0,0,0,0,...,0,1.0,0.0,1,0,0,0,0.85,0,1
10752,80,51,0,0,0,1,1,0,0,0,...,0,1.0,0.0,1,0,0,0,1.29,0,0
10753,15,53,1,0,0,0,0,0,0,0,...,0,1.0,1.0,0,0,0,0,1.09,0,1
10754,19,47,0,0,1,1,1,0,1,0,...,1,1.0,0.0,1,0,0,0,1.88,0,0

In [84]:
absence_pred = linreg.predict(new_df_2)

absence_pred

array([[0.64527797],
       [0.57715177],
       [0.92627455],
       ...,
       [0.71558361],
       [0.53717963],
       [1.67874103]])

In [85]:
absence_pred_2 = randomforest.predict(new_df_2)

absence_pred_2

array([0.790414  , 0.78978343, 0.68643839, ..., 0.72409498, 0.52009014,
       1.50574571])

In [86]:
absence_pred = pd.DataFrame(absence_pred, columns = ["absence_prediction_lr_2045"], index = new_df_2.index)
absence_pred['absence_prediction_lr_2045'] = round(absence_pred['absence_prediction_lr_2045'],0)
new_df_2 = pd.concat([new_df_2, absence_pred], axis = 1)
new_df_2['absence_prediction_lr_2045'] = np.where(new_df_2['absence_prediction_lr_2045']!=0,round(np.exp(new_df_2['absence_prediction_lr_2045']),0),0)

new_df_2['absence_prediction_lr_2045'].value_counts()

absence_prediction_lr_2045
3.0     6489
0.0     3641
7.0      501
20.0     121
55.0       3
Name: count, dtype: int64

In [87]:
absence_pred_2 = pd.DataFrame(absence_pred_2, columns = ["absence_prediction_rf_2045"], index = new_df_2.index)
absence_pred_2['absence_prediction_rf_2045'] = round(absence_pred_2['absence_prediction_rf_2045'],0)
new_df_2 = pd.concat([new_df_2, absence_pred_2], axis = 1)
new_df_2['absence_prediction_rf_2045'] = np.where(new_df_2['absence_prediction_rf_2045']!=0,round(np.exp(new_df_2['absence_prediction_rf_2045']),0),0)

new_df_2['absence_prediction_rf_2045'].value_counts()

absence_prediction_rf_2045
3.0     5762
0.0     4143
7.0      748
20.0      97
55.0       5
Name: count, dtype: int64

In [88]:
new_df = new_df.merge(new_df_2, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat,absence_prediction_lr_2025,absence_prediction_rf_2025,absence_prediction_lr_2035,absence_prediction_rf_2035,absence_prediction_lr_2045,absence_prediction_rf_2045
0,1000028017,0,10.0,8.0,21.0,19,24,1,0,0,...,1.614719,2.238095,3.177489,13.0,3.0,3.0,3.0,3.0,3.0,3.0
1,1001534206,79,8.0,5.0,8.0,55,52,0,1,0,...,22.415585,27.372295,32.012985,7.0,3.0,3.0,3.0,3.0,3.0,3.0
2,1001889704,0,43.0,36.0,28.0,32,43,1,0,0,...,60.709957,68.432900,73.138530,36.0,3.0,3.0,3.0,3.0,3.0,3.0
3,1001944102,0,0.0,0.0,0.0,69,28,1,0,0,...,8.727273,11.683983,14.129870,0.0,3.0,3.0,3.0,3.0,3.0,3.0
4,1004530436,0,2.0,19.0,1.0,53,69,1,1,0,...,24.043290,27.380953,30.835499,7.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,9993884950,0,1.0,0.0,0.0,15,26,0,0,0,...,5.748918,8.069264,10.389610,0.0,3.0,3.0,3.0,3.0,3.0,3.0
10751,9994462681,0,0.0,0.0,1.0,95,51,0,0,0,...,2.792208,3.995671,5.134199,0.0,3.0,3.0,3.0,3.0,3.0,3.0
10752,9994569952,0,40.0,22.0,8.0,80,51,0,0,0,...,63.307358,69.419914,75.311690,23.0,3.0,3.0,3.0,3.0,3.0,3.0
10753,9998301213,124,3.0,4.0,0.0,15,53,1,0,0,...,18.649351,23.025974,27.376623,2.0,3.0,3.0,3.0,3.0,3.0,3.0
10754,9998854988,0,0.0,2.0,0.0,19,47,0,0,1,...,12.545454,15.658009,18.683983,1.0,7.0,7.0,7.0,7.0,7.0,7.0

In [89]:
print("Original:")
print(new_df['absence_indicator'].value_counts())
print("2025 (lr):")
print(new_df['absence_prediction_lr_2025'].value_counts())
print("2035 (lr):")
print(new_df['absence_prediction_lr_2035'].value_counts())
print("2045 (lr):")
print(new_df['absence_prediction_lr_2045'].value_counts())
print("2025 (rf):")
print(new_df['absence_prediction_rf_2025'].value_counts())
print("2035 (rf):")
print(new_df['absence_prediction_rf_2035'].value_counts())
print("2045 (rf):")
print(new_df['absence_prediction_rf_2045'].value_counts())

Original:
absence_indicator
0      8837
1       206
6        26
61       26
40       17
       ...
313       1
279       1
294       1
401       1
327       1
Name: count, Length: 329, dtype: int64
2025 (lr):
absence_prediction_lr_2025
3.0     6486
0.0     3644
7.0      501
20.0     121
55.0       3
Name: count, dtype: int64
2035 (lr):
absence_prediction_lr_2035
3.0     6488
0.0     3642
7.0      501
20.0     121
55.0       3
Name: count, dtype: int64
2045 (lr):
absence_prediction_lr_2045
3.0     6489
0.0     3641
7.0      501
20.0     121
55.0       3
Name: count, dtype: int64
2025 (rf):
absence_prediction_rf_2025
3.0     5763
0.0     4143
7.0      747
20.0      97
55.0       5
Name: count, dtype: int64
2035 (rf):
absence_prediction_rf_2035
3.0     5762
0.0     4143
7.0      748
20.0      97
55.0       5
Name: count, dtype: int64
2045 (rf):
absence_prediction_rf_2045
3.0     5762
0.0     4143
7.0      748
20.0      97
55.0       5
Name: count, dtype: int64

In [90]:
# new_df.to_csv('absence_indicator_C.csv')